.question-card-button {
    position         : relative;
    display          : flex;
    align-items      : center;
    font-family      : var(--font-open-sans);
    font-weight      : 600;
    border           : 0;
    background-color : transparent;
    font-size        : 14px;
    line-height      : 26px;
    cursor           : pointer;
}

.question-card-button + .question-card-button {
    margin-left: 26px;
}

.question-card-button:before {
    content       : "";
    position      : absolute;
    top           : 0;
    left          : -6px;
    right         : -6px;
    bottom        : 0;
    background    : rgba(32, 35, 51, .07);
    transition    : opacity .1s ease-out;
    opacity       : 0;
    border-radius : 26px;
}

.question-card-button:hover:before {
    opacity: 1;
}

.question-card-button .question-card-button__icon {
    font-size : 20px;
    color     : var(--text-gray);
}

.question-card-button .question-card-button__icon:not(:only-child) {
    margin-right: 10px;
}
