.question-card-button {
  position         : relative;
  display          : flex;
  align-items      : center;
  font-family      : var(--font-open-sans);
  font-weight      : 600;
  border           : 0;
  color            : var(--black-color);
  background-color : transparent;
  font-size        : 14px;
  line-height      : 27px;
  cursor           : pointer;

  &:before {
    content       : "";
    position      : absolute;
    top           : -6px;
    left          : -6px;
    right         : -6px;
    bottom        : -6px;
    background    : rgba(32, 35, 51, .07);
    transition    : opacity .1s ease-out;
    opacity       : 0;
    border-radius : 26px;
  }

  &:hover:before {
    opacity: 1;
  }

  & + & {
    margin-left: 26px;
  }

  .question-card-button__icon {
    font-size : 20px;
    color     : var(--text-gray);

    &:not(:only-child) {
      margin-right: 10px;
    }
  }

  &--inactive {
    color: var(--text-gray);
  }

  &--active {
    color: var(--blue-color);
  }

  &--active:before {
    background: rgba(84, 161, 201, .07);
  }
}
