.authorization-form-container.container-1024 {
    flex-direction  : column;
    align-items     : center;
    justify-content : flex-start;
    padding         : 65px 0;
}

.authorization-form-title {
    font-size     : 60px;
    margin-bottom : 28px;
}

.authorization-form-subtitle {
    font-weight   : 600;
    line-height   : 26px;
    text-align    : center;
    margin-bottom : 80px;
}

.authorization-form {
    background-color: var(--background-color-white);
}

.auth-form__main-content {
    padding: 48px 57px 0;
}

.auth-form__field-wrapper {
    position       : relative;
    display        : flex;
    flex-direction : column;
    margin-bottom  : 32px;
}

.auth-form__field-label {
    font-weight   : 600;
    line-height   : 26px;
    margin-bottom : 13px;
    user-select   : none;
}

.auth-form__field {
    height           : 66px;
    border           : 0;
    border-radius    : 6px;
    background-color : var(--background-color-lightblue-2);
    padding          : 12px 24px;
    font-size        : 16px;
    font-family      : var(--font-open-sans);
    font-weight      : 600;
    line-height      : 26px;
    border           : 1px solid transparent;
    outline          : none;
    transition       : .1s ease-out;
}

.auth-form__field__error-message {
    font-size   : 11px;
    position    : absolute;
    bottom      : 0;
    transform   : translateY(calc(100% + .2rem));
    transition  : opacity .1s;
    font-weight : 600;
    color       : var(--red-color);
    opacity     : 0;
}

.auth-form__field-wrapper--error .auth-form__field {
    border: 1px solid var(--red-color);
}

.auth-form__field-wrapper--error .auth-form__field__error-message {
    opacity: 1;
}

.auth-form__field-wrapper .auth-form__field:focus {
    border: 1px solid var(--border-color-green);
}

.auth-form__field[type="password"] {
    letter-spacing : 12px;
    font           : small-caption;
    font-size      : 18px;
    font-weight    : 700;
}

.auth-form__checkbox-wrapper {
    display       : inline-block;
    position      : relative;
    font-weight   : 600;
    margin-bottom : 44px;
    padding-left  : 30px;
    cursor        : pointer;
    user-select   : none;
}

.auth-form__checkbox-input {
    position : absolute;
    opacity  : 0;
    cursor   : pointer;
    height   : 0;
    width    : 0;
    left     : 0;
}

.auth-form__checkbox {
    position         : absolute;
    top              : 50%;
    transform        : translateY(-50%);
    left             : 0;
    width            : 21px;
    min-width        : 21px;
    height           : 21px;
    line-height      : 21px;
    text-align       : center;
    border-radius    : 6px;
    background-color : var(--background-color-white);
    border           : 1px solid var(--text-gray);
}

.auth-form__checkbox .material-icons-round {
    display     : none;
    font-size   : 14px;
    font-weight : 700;
    line-height : inherit;
    color       : var(--text-white);
}

.auth-form__checkbox-input:checked + .auth-form__checkbox .material-icons-round {
    display: inline;
}

.auth-form__checkbox-input:checked + .auth-form__checkbox {
    background-color : var(--red-color);
    border           : 0;
}

.base-btn.auth-form__action-btn,
.auth-form__sign-in-with-social {
    width         : 362px;
    height        : 66px;
    line-height   : 66px;
    border-radius : 33px;
    margin        : 0 auto 20px;
}

.base-btn.auth-form__action-btn {
    font-size: 18px;
}

.auth-form__sign-in-with-social {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    border           : 0;
    font-size        : 16px;
    font-family      : var(--font-open-sans);
    font-weight      : 600;
    background-color : var(--background-color-lightblue);
    cursor           : pointer;
}

.auth-form__sign-in-with-social:hover {
    background-color: var(--background-color-gray-3);
}

.auth-form__sign-in-with-social svg {
    margin-right: 12px;
}

.auth-form__sign-in-with-social:last-of-type {
    margin-bottom: 45px;
}

.auth-form__sign-in-with-social:last-of-type svg {
    width  : 18px;
    height : 18px;
}

.auth-form__footer-wrapper {
    border-top: 1px solid var(--background-color-lightblue-2);
}

.auth-form__footer {
    text-align  : center;
    padding     : 30px 0;
    font-weight : 600;
}

.auth-form__footer__link {
    color           : var(--text-blue);
    text-decoration : none;
}

.auth-form__footer__link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .authorization-form-container.container-1024 {
        padding: 16px 8px 65px;
    }

    .authorization-form-title {
        font-size     : 24px;
        margin-bottom : 14px;
    }

    .authorization-form-subtitle {
        line-height   : 22px;
        margin-bottom : 32px;
    }

    .auth-form__main-content {
        padding: 32px 24px 0;
    }

    .auth-form__field-wrapper {
        margin-bottom: 24px;
    }

    .auth-form__field-label {
        margin-bottom: 4px;
    }

    .auth-form__field {
        height    : 42px;
        padding   : 4px 14px;
        font-size : 14px;
    }

    .auth-form__field[type="password"] {
        font-size      : 16px;
        letter-spacing : 4px;
    }

    .auth-form__checkbox-wrapper {
        margin-bottom: 24px;
    }

    .base-btn.auth-form__action-btn,
    .auth-form__sign-in-with-social {
        width         : 100%;
        height        : 42px;
        line-height   : 42px;
    }

    .base-btn.auth-form__action-btn {
        font-size: 16px;
    }

    .auth-form__sign-in-with-social {
        font-size: 14px;
    }

    .auth-form__sign-in-with-social:last-of-type {
        margin-bottom: 24px;
    }

    .auth-form__sign-in-with-social svg {
        width  : 16px;
        height : 16px;
    }

    .auth-form__footer {
        padding: 20px 0;
    }
}
