include ../../../symbols-counter/symbolsCounter

.base-modal-wrapper#answerModal(style="display: none")
    .base-modal(tabindex="0").answer-modal-container
        .answer-modal
            .answer-modal__header-wrapper
                .answer-modal__header
                    .answer-modal__header__title Wie macht man aus einem Eimer ein Hundehalsband?
                    button.base-icon-btn.answer-modal__close-btn#answerModalCloseBtn
                        span.material-icons-round close
            .answer-modal__content-wrapper
                .answer-modal__content
                    textarea.answer-modal__textarea(placeholder="Response no more than 90 characters", rows="5")
                .answer-modal__option-buttons.answer-options
                    button.answer-options__btn.answer-options__btn--bold
                        span.answer-options__btn__content Ж
                    button.answer-options__btn.answer-options__btn--italic
                        span.answer-options__btn__content К
                    button.answer-options__btn
                        span.answer-options__btn__content.material-icons list
                    button.answer-options__btn
                        span.answer-options__btn__content.material-icons-round format_quote
                    button.answer-options__btn(data-target="uploadImageDropdown")
                        span.answer-options__btn__content.material-icons-round insert_photo
                    include ../../../dropdowns/upload-image/uploadImage
                    button.answer-options__btn.answer-options__btn--link(data-target="addLinkDropdown")
                        span.answer-options__btn__content.material-icons-round insert_link
                    include ../../../dropdowns/add-link/addLink
            .answer-modal__bottom-wrapper
                .answer-modal__bottom-container
                    include ../../../dropdowns/user-select-dropdown/userSelectDropdown
                    .asnwer-modal__answer-button-wrapper
                        +symbolsCounter({ label: 20, success: true })
                        button.asnwer-modal__answer-button.answer-modal__answer-button--disabled Antworten