include ../../buttons/baseBtn
include ../../svg-icon/svgIcon

mixin optionBtn({ icon, text })
    button.question-modal__option-btn&attributes(attributes)
        +svgIcon(icon)
        span &nbsp; #{ text }

.base-modal-wrapper#qModal(style="display: none")
    .base-modal(tabindex="0").question-modal
        .question-modal__cover
            .question-modal__header 
                .question-modal__header__title Frage stellen
                button.base-icon-btn.question-modal__close-btn#qModalCloseBtn
                    span.material-icons-round close
            .question-modal__cover__bg-image#qCoverBgImage
            .question-modal__cover__bg-color#qCoverBgColor
            textarea.question-modal__textarea(placeholder="Welche frage möchtest du beantworten?", rows="3")
            .question-modal__selected-themes-wrapper
                .question-modal__selected-themes.q-selected-themes
                    button.q-selected-themes__theme.question-info__chip(data-target="qThemesDropdown")
                         span.material-icons-round add
                    .q-selected-themes__theme.question-info__chip Family
                        span.material-icons-round close
                    .q-selected-themes__theme.question-info__chip Sport
                        span.material-icons-round close
                    .q-selected-themes__theme.question-info__chip Chillout
                        span.material-icons-round close
        .question-modal__cover-colors#qCoverColors
            button.question-modal__color-btn.question-modal__color-btn--bordered#qColorBtnWhite
                span.material-icons-round done
            button.question-modal__color-btn(style = "background-color: #fabb4f")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #75d0c4")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #ffcf62")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #9494c5")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #8ba4c6")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #ff7150")
                span.material-icons-round notes
            button.question-modal__color-btn(style="background-color: #e57497")
                span.material-icons-round notes
        .question-modal__options-wrapper 
            .question-modal__options 
                +optionBtn({ icon: 'book', text: 'Themes' })(data-target="qThemesDropdown")
                +optionBtn({ icon: 'picture', text: 'Titelbild' })(id="qCoverImageBtn")
                +optionBtn({ icon: 'pencil', text: 'Details' })(id="qDetailsBtn")
                include ../../themes-dropdown/themesDropdown
        .question-modal__bottom-container.q-bottom-container
            .q-bottom-container__user-select.q-user-select
                .q-user-select__selected#qUserSelectActivator
                    .q-user-select__avatar
                        img(src="./assets/images/question-vote-avatar.png")
                    span.q-user-select__name Philip Djones
                    .q-user-select__icon 
                        span.material-icons-round keyboard_arrow_down
                .q-user-select__dropdown-wrapper#qUserSelectDropdown(style="display: none")
                    .q-user-select__dropdown.q-select-dropdown
                        button.q-select-dropdown__btn
                            .q-user-select__avatar
                                img(src='./assets/images/question-vote-avatar.png')
                            span.q-user-select__name Philip Djones
                            .q-select-dropdown__btn__check-icon
                                span.material-icons-round done
                        button.q-select-dropdown__btn
                            .q-user-select__avatar
                                img(src='./assets/images/question-1-avatar.png')
                            span.q-user-select__name Don't use my name
            .q-bottom-container__actions.q-actions
                .q-actions__counter-wrapper.q-counter
                    .q-counter__label 20
                    .q-counter__circle
                        .q-counter__circle__half.q-counter__circle__half--left
                        .q-counter__circle__half.q-counter__circle__half--right 
                +baseBtn({ 
                    text      : 'Speichern',
                    withArrow : true,
                    width     : 208,
                    height    : 66
                })(class="q-bottom-container__btn")


