.question-modal__cover {
    position: relative;
}

.question-modal__cover__bg-color {
    position         : absolute;
    top              : 0;
    bottom           : 0;
    right            : 0;
    left             : 0;
    z-index          : 1;
}

.question-modal__cover__bg-image {
    position            : absolute;
    top                 : 0;
    bottom              : 0;
    right               : 0;
    left                : 0;
    background-size     : cover;
    background-position : 50%;
    opacity             : .6;
    z-index             : 1;
}

.question-modal__textarea {
    position         : relative;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
    color            : var(--text-black-2);
    background-color : transparent;
    border           : 0;
    width            : 100%;
    resize           : none;
    outline          : none;
    overflow         : hidden !important;
    z-index          : 2;
}

.question-modal__textarea--small {
    font-weight: 500;
}

.question-modal__cover-colors {
    display     : flex;
    align-items : center;
}

.question-modal__color-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    border          : 0;
    outline         : none;
}

.question-modal__color-btn:not(.question-modal__color-btn--bordered) .material-icons-round {
    color: var(--text-white);
}

.question-modal__color-btn--bordered {
    background-color : var(--background-color-white);
    border           : 1px solid var(--text-gray);
}

.question-modal__color-btn,
.question-modal__option-btn {
    transition: transform .1s ease-out;
}

.question-modal__options {
    position : relative;
    display  : inline-flex;
}

.question-modal__option-btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    border           : 0;
    border-radius    : 25px;
    font-family      : var(--font-montserrat);
    background-color : var(--background-color-gray);
    border           : 1px solid var(--border-color-lightblue);
    outline          : none;
}

.question-modal__bottom-container {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.base-btn.q-bottom-container__btn--disabled {
    background-color : var(--background-color-gray) !important;
    color            : var(--text-black-2) !important;
    pointer-events   : none;
}

.question-modal__selected-themes-wrapper {
    position : relative;
    z-index  : 2;
}

.question-modal__selected-themes-wrapper .theme-chip:first-of-type {
    font-weight: 600;
}

.question-modal__cover--white-text .question-modal__textarea {
    color: var(--text-white);
}

.question-modal__cover--white-text .question-modal__textarea:not(.question-modal__textarea--small)::placeholder {
    color: hsla(0, 100%, 100%, .5);
}

.question-modal__cover--white-text .theme-chips-wrapper .theme-chip {
    color: var(--text-white);
}
