.bottom-sheet__author-select#bsAuthorSelect(style="display: none")
    .author-select__title Choose author
    .user-select__dropdown.select-dropdown
        button.select-dropdown__btn
            .user-select__avatar
                img(src='./assets/images/question-vote-avatar.png')
            span.user-select__name Philip Djones
            .select-dropdown__btn__check-icon
                span.material-icons-round done
        button.select-dropdown__btn
            .user-select__avatar
                img(src='./assets/images/question-1-avatar.png')
            span.user-select__name Don't use my name
    .author-select__close-btn-wrapper
        button.author-select__close-btn(data-target="closeBottomSheet") Close