include ../../svg-icon/svgIcon

.top-navigation
	.top-navigation__container.container-1024
		a(href="#")
			+svgIcon("logo")

		include ../../search-bar/desktop/dt-searchBar

		.top-navigation-right-block
			.top-navigation-right-block__item
				+svgIcon('notification')
			a.top-navigation-right-block__item#userImage
				img(src="./assets/images/avatar.png")
			include ../../account-widget/accountWidget
