.top-navigation {
	height: 100px;
}

.top-navigation__container {
	padding: 0 20px;
}

.top-navigation-right-block__item {
	cursor: pointer;
}

.top-navigation-right-block__item + .top-navigation-right-block__item {
	margin-left: 22px;
}

.top-navigation__link:not(.top-navigation__link--highlighted):before {
	position                   : absolute;
	bottom                     : -4px;
	left                       : 0;
	right                      : 0;
	content                    : "";
	background-color           : var(--red-color);
	height                     : .1rem;
	transition                 : transform .3s;
	transition-timing-function : cubic-bezier(.665, .14, .785, .285);
	transform                  : scaleX(0);
	transform-origin           : center center;
}

.top-navigation__link:not(.top-navigation__link--highlighted):hover:before {
	transition-timing-function : cubic-bezier(.12, .845, .305, 1);
	transform                  : scaleX(1);
}

.sign-in-line {
	stroke-linecap    : round;
	stroke-miterlimit : 10;
}

.sign-in-line--1, .sign-in-line--3, .sign-in-line--4, .sign-in-line--6 {
	stroke-dasharray: 11px;
}

.sign-in-line--2, .sign-in-line--5 {
	stroke-dasharray: 18px;
}
