.base-btn {
	position        : relative;
	display         : flex;
	align-items     : center;
	justify-content : center;
	border          : 0;
	padding         : 0;
	border-radius   : 25px;
	font-weight     : 700;
	font-family     : var(--font-montserrat);
	overflow        : hidden;
	transition      : transform .1s ease-out;
}
