include ../../svg-icon/svgIcon

mixin updateProfileOption({ icon = '', text = '' })
    .update-profile-menu__item-wrapper&attributes(attributes)
        .update-profile-menu__item
            .update-profile-menu__item__icon
                +svgIcon(icon)
            span.update-profile-menu__item__text= text

.update-profile-menu.base-dropdown#updateProfileMenu
    .update-profile-menu__content
        +updateProfileOption({ icon: 'user-with-bg', text: 'Profilbild und Profilname 채ndern' })(data-target="profileAvatarModal")
        +updateProfileOption({ icon: 'profile-cover', text: 'Titelbild 채ndern' })
        +updateProfileOption({ icon: 'brush', text: 'Informationen hinzuf체gen oder 채ndern' })(data-target="profileInformationModal")
            