.add-link-wrapper(style="display: none")
	.add-link-container.base-dropdown
		div
			.base-dropdown__input-wrapper
				input.base-dropdown__input(type="text", placeholder="Link")
			.base-dropdown__input-wrapper
				input.base-dropdown__input(type="text", placeholder="Link text")
			.base-dropdown__action Add link
