@media (max-width: 600px) {
  .bottom-sheet__other-profile-menu .other-profile-menu {
    display          : block;
    position         : relative;
    top              : unset;
    right            : unset;
    box-shadow       : none;
    background-color : transparent;
    border-radius    : 0;
    margin-bottom    : 8px;
  }
}
