include ../../svg-icon/svgIcon

.base-dropdown.other-profile-menu#otherProfileMenu
	.question-dropdown-wrapper
		a.question-dropdown__item
			.question-dropdown__item__icon
				+svgIcon('warning')
			span Melden pro user
