include ../swiper/baseSwiper

-
  const personagesCards = [
    {
      title: 'Nur so sind alle Erfahrungen, Meinungen und Antworten',
      content: 'Technological competition startups. Provides IT industry promising technologies.',
      imageUrl: './assets/images/green_personage.png',
      buttonText: 'Deine Meinung zu…?'
    },
    {
      title: 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
      content: 'Technological competition startups. Provides IT industry promising technologies.',
      imageUrl: './assets/images/blue_personage.png',
      buttonText: 'Deine Frage'
    },
    {
      title: 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
      content: 'Technological competition startups.  Provides IT industry promising  technologies.',
      imageUrl: './assets/images/yellow_personage.png',
      buttonText: 'Deine Frage'
    }
  ]

+baseSwiper(personagesCards)(class="personages-wrapper")
