mixin inColumnLinks(title, links = [])
    .in-column-links&attributes(attributes)
        .in-column-links__title= title
        ul.in-column-links__container
            each link in links 
                li.in-column-links__item
                    a.in-column-links__item__link(href='#')= link
