.in-column-links-wrapper {
    display         : flex;
    justify-content : space-between;
    flex            : 1 1 auto;
}

.in-column-links {
    font-weight : 600;
    padding     : 0 8px;
}

.in-column-links__title {
    color         : var(--text-gray-2);
    margin-bottom : 35px;
}

.in-column-links__container {
    padding         : 0;
    margin          : 0;
    list-style-type : none;
    line-height     : 30px;
}

.in-column-links__item__link {
    color           : var(--text-black);
    font-size       : 14px;
    text-decoration : none;
}

.in-column-links__item__link:hover {
    text-decoration: underline;
}

.in-column-links-wrapper__separated-column {
    display        : flex;
    flex-direction : column;
}

.in-column-links-wrapper__separated-column .in-column-links:not(:first-child) {
    margin-top: 53px;
}

.in-column-links-wrapper__separated-column .in-column-links:not(:first-child) .in-column-links__title {
    margin-bottom: 24px;
}
