.theme-chip {
    height        : 32px;
    padding       : 0 13px;
    font-size     : 14px;
    line-height   : 32px;
    cursor        : pointer;
    transition    : .1s ease-out;
    margin-bottom : 9px;
    margin-right  : 9px;
}

.theme-chip:not(.theme-chip--light):hover {
    background-color: var(--background-color-gray-3);
}

.theme-chip--light:hover {
    background-color: rgba(241, 244, 246, .15);
}
