.question-modal-wrapper {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    text-align : center;
    overflow-y : auto;
    z-index    : 1003;
}

.question-modal {
    display          : inline-block;
    text-align       : left;
    width            : 778px;
    border-radius    : 8px;
    margin-top       : 60px;
    margin-bottom    : 24px;
    box-shadow       : 0 3px 20px rgba(62, 62, 62, .2);
    background-color : var(--background-color-white);
}

.question-modal__cover {
    position      : relative;
    margin-bottom : 16px;
}

.question-modal__cover__bg-color {
    position         : absolute;
    top              : 0;
    bottom           : 0;
    right            : 0;
    left             : 0;
    z-index          : 1;
}

.question-modal__cover__bg-image {
    position            : absolute;
    top                 : 0;
    bottom              : 0;
    right               : 0;
    left                : 0;
    background-size     : cover;
    background-position : 50%;
    opacity             : .6;
    z-index             : 1;
}

.question-modal__header {
    position : relative;
    padding  : 42px 36px 0;
    z-index  : 3;
}

.question-modal__header__title {
    font-size   : 22px;
    font-weight : 700;
    font-family : var(--font-montserrat);
    color       : var(--text-black-2);
}

.question-modal__close-btn {
    top   : 20px;
    right : 12px;
}

.question-modal__textarea {
    position         : relative;
    font-size        : 18px;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
    color            : var(--text-black-2);
    background-color : transparent;
    padding          : 32px 36px 20px;
    line-height      : 26px;
    border           : 0;
    width            : 100%;
    resize           : none;
    outline          : none;
    overflow         : hidden;
    z-index          : 2;
}

.question-modal__textarea--small {
    font-weight    : 500;
    padding-top    : 4px;
    padding-bottom : 12px;
}

.question-modal__cover-colors {
    display       : flex;
    align-items   : center;
    padding       : 20px 36px;
    margin-bottom : 36px;
}

.question-modal__color-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    min-width       : 50px;
    width           : 50px;
    height          : 50px;
    border-radius   : 16px;
    border          : 0;
    cursor          : pointer;
    outline         : none;
    user-select     : none;
}

.question-modal__color-btn:not(.question-modal__color-btn--bordered) .material-icons-round {
    color: var(--text-white);
}

.question-modal__color-btn--bordered {
    background-color : var(--background-color-white);
    border           : 1px solid var(--text-gray);
}

.question-modal__color-btn + .question-modal__color-btn {
    margin-left: 10px;
}

.question-modal__color-btn,
.question-modal__option-btn {
    transition: transform .1s ease-out;
}

.question-modal__color-btn:active,
.question-modal__option-btn:active {
    transform: scale(.96);
}

.question-modal__options {
    position : relative;
    display  : inline-flex;
    padding  : 0 36px;
}

.question-modal__option-btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    height           : 50px;
    border           : 0;
    border-radius    : 25px;
    font-size        : 14px;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
    line-height      : 50px;
    padding          : 0 16px;
    margin-right     : 8px;
    margin-bottom    : 16px;
    background-color : var(--background-color-gray);
    border           : 1px solid var(--border-color-lightblue);
    outline          : none;
    user-select      : none;
    cursor           : pointer;
}

.question-modal__bottom-container {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 32px 36px 44px;
}

.base-btn.q-bottom-container__btn {
    font-size     : 18px;
    border-radius : 33px;
}

.q-user-select {
    position: relative;
}

.q-user-select,
.q-select-dropdown__btn {
    font-family : var(--font-montserrat);
    font-size   : 12px;
    font-weight : 500;
    color       : var(--text-blue);
    user-select : none;
    cursor      : pointer;
}

.q-user-select__selected,
.q-user-select {
    display     : flex;
    align-items : center;
}

.q-user-select__dropdown-wrapper {
    position         : absolute;
    top              : -17px;
    left             : -26px;
    width            : 325px;
    background-color : var(--background-color-white);
    box-shadow       : 0 3px 20px rgba(62, 62, 62, .2);
    border-radius    : 10px;
    margin-bottom    : 24px;
}

.q-select-dropdown {
    padding: 16px 20px 16px;
}

.q-select-dropdown__btn {
    display          : flex;
    align-items      : center;
    width            : 100%;
    background-color : transparent;
    border           : 0;
    outline          : none;
    transition       : transform .1s ease-out;
}

.q-select-dropdown__btn + .q-select-dropdown__btn {
    margin-top: 16px;
}

.q-select-dropdown__btn:active {
    transform: scale(.96);
}

.q-select-dropdown__btn__check-icon {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    width            : 31px;
    min-width        : 31px;
    height           : 31px;
    border-radius    : 50%;
    user-select      : none;
    background-color : var(--background-color-gray);
    margin-left      : auto;
}

.q-select-dropdown__btn__check-icon .material-icons-round {
    font-size : 20px;
    color     : var(--text-blue);
}

.q-user-select__name {
    margin-left: 11px;
}

.q-user-select__selected .material-icons-round {
    font-size   : 16px;
    font-weight : 700;
    margin-left : 4px;
    color       : var(--text-gray-2);
}

.q-bottom-container__actions {
    display     : flex;
    align-items : center;
}

.q-counter {
    position  : relative;
    width     : 48px;
    height    : 48px;
    margin    : auto 12px;
    font-size : 3em;
    color     : var(--text-gray-2);
}

.q-counter__label {
    line-height : 48px;
    text-align  : center;
    font-family : var(--font-open-sans);
    font-size   : 16px;
    font-weight : 600;
}

.q-counter__circle {
    height   : 100%;
    width    : 100%;
    clip     : rect(0, 1em, 1em, .5em);
    left     : 0;
    position : absolute;
    top      : 0;
}

.q-counter__circle__half {
    height        : 100%;
    width         : 100%;
    border        : .075em solid var(--text-gray-2);
    border-radius : 50%;
    clip          : rect(0, .5em, 1em, 0);
    left          : 0;
    position      : absolute;
    top           : 0;
}

.q-counter__circle__half--left {
    transform: rotate(60deg);
}

.q-counter__circle__half--right {
    display: none;
}

.q-counter--error {
    color: var(--red-color);
}

.q-counter--error .q-counter__circle__half {
    border-color: var(--red-color);
}

.question-modal__selected-themes-wrapper {
    position       : relative;
    z-index        : 2;
    padding-bottom : 20px;
}

.q-selected-themes {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;
    padding     : 0 36px;
}

.q-selected-themes__theme {
    display     : flex;
    align-items : center;
    border      : 0;
    font-weight : 600;
}

.q-selected-themes__theme .material-icons-round {
    color: inherit;
}

.q-selected-themes__theme:not(:first-child) .material-icons-round {
    font-size   : 20px;
    margin-left : 6px;
}

.question-modal__cover--white-text .question-modal__header__title,
.question-modal__cover--white-text .question-modal__textarea {
    color: var(--text-white);
}

.question-modal__cover--white-text .question-modal__textarea:not(.question-modal__textarea--small)::placeholder {
    color: hsla(0, 100%, 100%, .5);
}

.question-modal__cover--white-text .question-modal__close-btn .material-icons-round {
    color: var(--text-white);
}

.question-modal__cover--white-text .question-modal__close-btn:before {
    background-color: hsla(0, 100%, 100%, .2);
}

.question-modal__cover:not(.question-modal__cover--white-text) .q-selected-themes__theme {
    background-color: var(--background-color-gray);
}

.question-modal__cover--white-text .q-selected-themes__theme {
    color: var(--text-white);
}
