.themes-select-wrapper#qThemesSelect(style="display: none")
    .themes-select
        .themes-select__header.themes-header
            .themes-header__title Themen
            button.themes-header__close-btn#qThemesSelectClose Close
        .themes-select__search-results.themes-search
            .themes-search__field-wrapper
                input.themes-search__field(type="text", placeholder="Themen")
            .themes-search__results-wrapper
                .themes-options
                    .themes-options__option Family
                        button.themes-options__option__add-btn
                            svg.plus
                                use(xlink:href="./assets/icons/svg-symbols.svg#plus")
                    .themes-options__option Sport
                        button.themes-options__option__add-btn
                            svg.plus
                                use(xlink:href="./assets/icons/svg-symbols.svg#plus")
                    .themes-options__option Friends
                        button.themes-options__option__add-btn
                            svg.plus
                                use(xlink:href="./assets/icons/svg-symbols.svg#plus")
                    .themes-options__option Internet
                        button.themes-options__option__add-btn
                            svg.plus
                                use(xlink:href="./assets/icons/svg-symbols.svg#plus")

