.commentsWidgetComment {
	font-weight : 600;
	line-height : 26px;
}

.commentsWidgetComment + .commentsWidgetComment {
	margin-top: 22px;
}

.commentsWidgetComment__text {
	margin-bottom: 4px;
}

.commentsWidgetComment__meta,
.commentsWidgetComment__icon {
	display     : flex;
	align-items : center;
}

.commentsWidgetComment__icon {
	margin-right: 4px;
}
