.commentsCount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.commentsCount__icon {
  width: 13px;
  height: 13px;
  background-image: url('/images/comments_icon.svg');
  margin-right: 4px;
}

.commentsCount__text {
  color: var(--text-black);
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
