.modal-overlay {
    position   : fixed;
    z-index    : 1002;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    width      : 100%;
    background : #000000;
    display    : none;
    opacity    : 0.5;
}
