.personage {
  height: 378px;
  max-width: 265px;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
  padding: 0 26px 0 35px;
}

.personage__title {
  color: var(--text-black-2);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 13px;
  margin-top: 150px;
}

.personage__image {
  position: absolute;
}

.personage--1 .personage__image {
  top: -11px;
  left: 68px;
}

.personage--2 .personage__image {
  top: -25px;
  left: 74px;
}

.personage--3 .personage__image {
  top: -18px;
  left: 74px;
}

.personage__content {
  color: var(--text-black);
  font-family: var(--font-open-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.personage__button {
  background-color: var(--background-color-white);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  color: var(--text-black-2);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 39px;
}

.personage--1 {
  background-color: var(--background-color-personage1);
}

.personage--2 {
  background-color: var(--background-color-personage2);
}

.personage--3 {
  background-color: var(--background-color-personage3);
}
