:root {
  --red-color: #e45b60;
  --background-color-pink: #ffb3bf;
  --background-color-white: white;
  --background-color-black: #282a2d;
  --background-color-personage1: #faf4dc;
  --background-color-personage2: #cfe8fa;
  --background-color-personage3: #c5f0ed;
  --background-color-gray: #f1f4f6;
  --background-color-gray-2: #f2f7f7;

  --font-open-sans: 'Open Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --text-black: #282a2d;
  --text-black-2: #333333;
  --text-white: white;
  --text-blue: #54a1c9;
  --text-blue-2: #3e8fad;
}
