.adverts-wrapper {
	display         : flex;
	justify-content : center;
	margin-top      : 24px;
}

.advert-card {
	display          : flex;
	flex-direction   : column;
	align-items      : center;
	max-width        : 246px;
	width            : 100%;
	font-family      : var(--font-montserrat);
	font-size        : 14px;
	font-weight      : 700;
	line-height      : 18px;
	color            : var(--black-color-2);
	background-color : var(--border-color-lightblue);
	border-radius    : 10px;
	overflow         : hidden;
	text-decoration  : none;
	user-select      : none;

	& + & {
		margin-left: 20px;
	}

	&:hover {
		text-decoration: underline;
	}
}

.advert-card__image {
	width: 100%;
}

.advert-card__content { 
	padding: 24px 12px;
}
