@media (max-width: 600px) {
    .adverts-wrapper {
        flex-direction  : column;
        align-items     : center;
        justify-content : stretch;
        margin-top      : 16px;
        padding         : 0 12px;
    }

    .advert-card {
        max-width     : 340px;
        margin-bottom : 16px;
    }

    .advert-card + .advert-card {
        margin-left: 0;
    }

    
    .advert-card__content { 
        padding: 18px 12px;
    }
}