.themes-select-wrapper {
    position      : absolute;
    display       : none;
    top           : -10px;
    width         : 340px;
    margin-bottom : 24px;
    z-index       : 1100;
}

.themes-select__header {
    padding: 30px 36px 0;
}

.themes-header__title {
    font-size: 22px;
}

.themes-header__close-btn {
    font-size     : 14px;
    font-weight   : 700;
    border-radius : 50px;
    width         : 84px;
    height        : 40px;
    cursor        : pointer;
}

.themes-search__field-wrapper {
    padding: 0 38px;
}

.themes-search__field {
    height: 43px;
}

.themes-search__results-wrapper {
    padding-top: 23px;
}

.themes-options {
    max-height    : 200px;
    overflow-y    : overlay;
    overflow-y    : auto;
    padding       : 0 38px;
}

.themes-options__option {
    padding   : 7px 0;
    font-size : 16px;
}

.themes-options__option__add-btn {
    width     : 30px;
    min-width : 30px;
    height    : 30px;
    cursor    : pointer;
}

.themes-select__search-results {
    padding: 15px 0 23px;
}
