.themes-select.base-dropdown
	.themes-select__header.themes-header
		.themes-header__title Themen
		button.themes-header__close-btn(data-target="closeBottomSheet", data-desktop-hidden) Close
		button.themes-header__close-btn(data-target-close="qThemesDropdown", data-mobile-hidden) Close
	.themes-select__search-results.themes-search
		.themes-search__field-wrapper
			input.themes-search__field(type="text", placeholder="Search themen")
		.themes-search__results-wrapper
			.themes-options
				.themes-options__option Family
					button.themes-options__option__add-btn
						span.material-icons-round add
				.themes-options__option.themes-options__option--selected Sport
					button.themes-options__option__add-btn
						span.material-icons-round add
				.themes-options__option Friends
					button.themes-options__option__add-btn
						span.material-icons-round add
				.themes-options__option Internet
					button.themes-options__option__add-btn
						span.material-icons-round add
