.themes-select-wrapper {
    position      : absolute;
    display       : none;
    top           : -10px;
    width         : 340px;
    margin-bottom : 24px;
    z-index       : 1100;
}

.themes-select__header {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 30px 36px 0;
}

.themes-select__search-results {
    padding: 15px 0 23px;
}

.themes-header__title {
    font-size   : 22px;
    font-weight : 700;
    font-family : var(--font-montserrat);
}

.themes-header__close-btn {
    font-size        : 14px;
    font-weight      : 700;
    border-radius    : 50px;
    width            : 84px;
    height           : 40px;
    cursor           : pointer;
    font-family      : var(--font-montserrat);
    border           : 0;
    background-color : var(--background-color-gray);
}

.themes-search__field {
    height           : 43px;
    border           : 0;
    border-radius    : 5px;
    background-color : var(--background-color-gray);
    width            : 100%;
    padding          : 0 16px;
    font-family      : var(--font-montserrat);
    font-weight      : 500;
}

.themes-search__field-wrapper {
    padding: 0 38px;
}

.themes-search__results-wrapper {
    padding-top: 23px;
}

.themes-options {
    max-height    : 200px;
    overflow-y    : overlay;
    overflow-y    : auto;
    padding       : 0 38px;
}

.themes-options__option {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    font-family     : var(--font-open-sans);
    font-weight     : 600;
    padding         : 7px 0;
    font-size       : 16px;
    user-select     : none;
}

.themes-options__option__add-btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 0;
    border           : 0;
    border-radius    : 50%;
    background-color : var(--background-color-gray);
    width            : 30px;
    min-width        : 30px;
    height           : 30px;
    cursor           : pointer;
}

.themes-options__option__add-btn .material-icons-round {
    color: var(--text-blue-2);
}

.themes-options__option--selected .themes-options__option__add-btn {
    background-color: var(--text-blue-2);
}

.themes-options__option--selected .themes-options__option__add-btn .material-icons-round {
    color: var(--text-white);
}
