.themes-select__header {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.themes-header__title {
    font-weight : 700;
    font-family : var(--font-montserrat);
}

.themes-header__close-btn {
    font-family      : var(--font-montserrat);
    border           : 0;
    background-color : var(--background-color-gray);
}

.themes-search__field {
    border           : 0;
    border-radius    : 5px;
    background-color : var(--background-color-gray);
    width            : 100%;
    padding          : 0 16px;
    font-family      : var(--font-montserrat);
    font-weight      : 500;
}

.themes-options__option {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    font-family     : var(--font-open-sans);
    font-weight     : 600;
    user-select     : none;
}

.themes-options__option__add-btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 0;
    border           : 0;
    border-radius    : 50%;
    background-color : var(--background-color-gray);
}

.themes-options__option__add-btn .material-icons-round {
    color: var(--text-blue-2);
}

.themes-options__option--selected .themes-options__option__add-btn {
    background-color: var(--text-blue-2);
}

.themes-options__option--selected .themes-options__option__add-btn .material-icons-round {
    color: var(--text-white);
}
