include ../../buttons/base-button/baseButton

.authorization-form.auth-form.auth-form--forgot-password
  form.auth-form__main-content(autocomplete="off", novalidate)
    .auth-form__field-wrapper
      label.auth-form__field-label(for="email") Email
      input.auth-form__field(type="email", id="email", name="email", pattern=".+@.+\..+$", required)
      span.auth-form__field__error-message Please enter a valid email address
    +baseButton({ text: 'Reset password', withArrow: true })(class="auth-form__action-btn", type="submit")
