include ../../svg-icon/svgIcon

.top-navigation
	.top-navigation__container
		a.top-navigation__logo(href="#")
			+svgIcon("logo")

		.top-navigation-right-block
			.top-navigation-right-block__item(data-target="searchBar")
				span.material-icons-round.top-navigation-right-block__search-icon search
			.top-navigation-right-block__item
				+svgIcon('notification')(class="top-navigation-right-block__notification-icon")
			.top-navigation-right-block__item#userImage
				img.top-navigation-right-block__user-image(
					srcset="./assets/images/avatar.png 1x, ./assets/images/avatar@2x.png 2x"
				)
			include ../../account-widget/accountWidget
