@media (max-width: 600px) {
	.store-link {
		width     : 130px;
		min-width : 130px;
		height    : auto;
		padding   : 12px 16px;

		&:first-of-type {
			margin-right: 12px;
		}
	}

	.store-link__title {
		font-size: 12px;
	}
	
	.store-link__subtitle {
		font-size: 8px;  
	}
}
