.store-links-wrapper {
	display     : flex;
	align-items : center;
}

.store-link {
	display          : flex;
	align-items      : center;
	justify-content  : center;
	height           : 60px;
	width            : 152px;
	margin-top       : 25px;
	border-radius    : 10px;
	text-decoration  : none;
	color            : var(--black-color);
	background-color : var(--background-color-gray-2);
	transition       : .1s ease-out;

	&:first-of-type {
		margin-right: 22px;
	}

	&:hover {
		background-color: var(--background-color-gray-3);
	}
}

.store-link__content-wrapper {
	display        : flex;
	flex-direction : column;
	margin-left    : 8px;
}

.store-link__subtitle,
.store-link__title {
	font-weight: 600;
}

.store-link__title {
	font-size: 14px;
}

.store-link__subtitle {
	font-size : 9px;
	color     : var(--text-gray-2);
}
