.base-swiper {
    position: relative;
}

.base-swiper .swiper-wrapper {
    padding: 46px 0;
}

.base-swiper-button {
	width            : 36px;
	height           : 36px;
    border-radius    : 50%;
    top              : 55%;
	background-color : var(--white-color);
    box-shadow       : 0 3px 6px rgba(0, 0, 0, .16);
    z-index          : 3;
    transition       : .2s ease-in-out;
    user-select      : none;
    outline          : none;
}

.base-swiper-button:after {
	content: none;
}

.base-swiper-button .material-icons-round {
    color       : var(--black-color);
    font-size   : 20px;
    font-weight : 700;
}

.base-swiper-button.swiper-button-disabled {
    opacity        : 0;
    pointer-events : none;
}

.base-swiper-button.swiper-button-next {
    right: -18px;
}

.base-swiper-button.swiper-button-prev {
    left: -18px;
}

.base-swiper-button.swiper-button-next:hover {
    transform: translateX(4px);
}

.base-swiper-button.swiper-button-prev:hover {
    transform: translateX(-4px);
}

.base-swiper__right-shadow,
.base-swiper__left-shadow {
    background     : var(--white-color);
    position       : absolute;
    width          : 18px;
    top            : 0;
    bottom         : 0;
    z-index        : 1;
    opacity        : 0;
    pointer-events : none;
    transition     : opacity .3s ease-in-out;
}

.base-swiper__right-shadow {
    right      : -18px;
    box-shadow : -8px 0 12px -8px rgba(0, 0, 0, .4);
}

.base-swiper__left-shadow {
    left       : -18px;
    box-shadow : 8px 0 12px -8px rgba(0, 0, 0, .4);
}

.base-swiper-button.swiper-button-next:not(.swiper-button-disabled) + .base-swiper__right-shadow {
    opacity: 1;
}

.base-swiper-button.swiper-button-prev:not(.swiper-button-disabled) + .base-swiper__left-shadow {
    opacity: 1;
}
