.question-info__subtitle {
    margin-top    : -12px;
    margin-bottom : 12px;
}

.question-card__vote-bar {
    height    : 32px;
    font-size : 12px;
}

.question-card__vote-bar + .question-card__vote-bar {
    margin-top: 8px;
}

.question-card__vote-bar__progress {
    padding     : 4px 12px;
    height      : 28px;
    line-height : 28px;
}
