@media (max-width: 600px) {
    .answer-comment-form__activator-wrapper {
        margin  : 16px 0;
        padding : 0 12px;

        .answer-comment-form__avatar {
            display: flex;
        }

        & > .answer-comment-form__avatar {
            display: none;
        }
    }

    .new-comment-form-container > .answer-comment-form__avatar {
        display: none;
    }

    .new-comment-form-wrapper {
        padding: 0 12px;
    }

    .answer-comment-form__activator {
        display     : flex;
        align-items : center;
        height      : 40px;
        line-height : 40px;
        padding     : 0 8px;
    }

    .answer-comment-form__avatar {
        width        : 24px;
        min-width    : 24px;
        margin-right : 12px;
    }

    .new-comment-form {
        padding: 8px;

        .answer-comment-form__avatar {
            display: flex;
        }
    }

    .new-comment-form__textarea {
        margin-top  : 12px;
        min-height  : 16px;
        font-size   : 14px;
        line-height : 20px;
    }

    .new-comment-form__cancel-btn, 
    .new-comment-form__send-btn {
        height      : 36px;
        line-height : 26px;
        margin-top  : 12px;
    }

    .new-comment-form__cancel-btn {
        width        : 96px;
        margin-right : 12px;
    }

    .new-comment-form__send-btn {
        width: 112px;

        &.base-btn .base-btn__icon {
            display: none;
        }

        &.base-btn .base-btn__content {
            transition  : none;
            transform   : none;
            margin-left : 0;
        }
    }
}
