.pre-footer-wrapper {
  background-color : #ffc488;
  height           : 250px;
  margin-top       : 64px;
}

.pre-footer__title {
  margin-bottom: 32px;
}

.pre-footer-container {
  align-items      : center;
  flex-direction   : column;
  height           : 100%;
  background-color : inherit;
}

.pre-footer__button {
  width       : 197px;
  height      : 50px;
  line-height : 50px;
}
