include ../buttons/base-button/baseButton

.pre-footer-wrapper
    .pre-footer-container.container-1024 
        h1.pre-footer__title Du hast eine Frage?
        +baseButton({ 
            text      : 'Frage stellen',
            withArrow : true,
            bgColor   : 'var(--background-color-white)',
            color     : 'var(--text-black-2)'
        })(class="pre-footer__button", data-target="qModal")
