include ../buttons/baseBtn

.pre-footer-wrapper
    .pre-footer-container.container-1024 
        h1 Du hast eine Frage?
        +baseBtn({ 
            text      : 'Frage stellen',
            withArrow : true,
            bgColor   : 'var(--background-color-white)',
            color     : 'var(--text-black-2)'
        })