.date-filter {
    display          : flex;
    max-width        : 348px;
    border-radius    : 25px;
    border           : 1px solid var(--border-color-lightblue);
    background-color : var(--background-color-gray);
}

.date-filter__item {
    flex             : 1 1 25%;
    background-color : transparent;
    height           : 100%;
    border           : 0;
    border-radius    : 21px;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
    color            : var(--text-black-2);
    transition       : transform .1s ease-out;
}

.date-filter__item + .date-filter__item {
    margin-left: 4px;
}

.date-filter__item--active {
    background-color : var(--background-color-white );
    color            : var(--red-color);
}

.date-filter__item:active {
    opacity: .65;
}
