.date-filter {
    height        : 50px;
    margin-bottom : 32px;
    padding       : 4px;
}

.date-filter__item {
    font-size : 14px;
    cursor    : pointer;
}

.date-filter__item:hover {
    background-color : var(--background-color-white );
    color            : var(--red-color);
}
