include ../themeChip.pug

mixin themeChips({ themes = [], light = false, withoutLimit = false })
    .theme-chips-wrapper(class = light ? 'theme-chips-wrapper--light' : '')
        if !withoutLimit && themes.length > 1
            - let visibleThemes = themes.slice(0, 1);

            each theme in visibleThemes
                +themeChip(theme)
            .theme-chip
                span +!{ themes.length - visibleThemes.length }
        else 
            each theme in themes
                +themeChip(theme)