include ../../buttons/base-button/baseButton

.opinion-card
    .opinion-card__content.card-content
        h3 We want to know what you think about all this
        .card-content__text 
            | Technological competition startups. Provides 
            br
            |IT industry promising technologies.
        +baseButton({ 
            text      : 'Learn opinion',
            bgColor   : 'var(--text-blue)',
            color     : 'var(--text-white)'
        })(class="opinion-card__button")
    img.opinion-card__img(src="./assets/images/books_personage.png")