doctype html
html
	head
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round|Material+Icons+Outlined", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet")

		link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
		link(rel="stylesheet", href="./assets/icons/svg-symbols.css")
		link(rel="stylesheet", href="./css/index.min.css")
		block title
			title Default title
	body
		.cookiesWarning
			| We use cookies to ensure you get the best experience on our site. 
			a.cookiesWarning__detailsLink(href="#") More details
			button.cookiesWarning__button Got it
		block content
		#modals
			block modals

		script(src="https://unpkg.com/swiper/js/swiper.min.js")
		script(src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js")
		script(src="./js/index.min.js")
