doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="cleartype" content="on")
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="320")

		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="apple-mobile-web-app-title" content="")

		link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round|Material+Icons+Outlined", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet")

		link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
		link(rel="stylesheet", href="./assets/icons/svg-symbols.css")
		link(rel="stylesheet", href="./css/m.index.min.css")
		
		block title
			title Default title
	body
		include ../cookies-warning/mobile/m-cookiesWarning
		block content
		block modals

		script(src="https://unpkg.com/swiper/js/swiper.min.js")
		script(src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js")
		script(src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js")
		script(src="./js/m.index.min.js")
