.threeColumnContainer {
	--top-offset: 124px;

	display: flex;
}

.threeColumnContainer__left {
	max-width   : 170px;
	margin-left : 34px;
	flex        : 1;
	margin-top  : var(--top-offset);
}

.threeColumnContainer__center {
	max-width : 780px;
	margin    : 0 53px;
}

.threeColumnContainer__right {
	max-width  : 280px;
	margin-top : var(--top-offset);
}
