.sponsors-widget
	.sponsors-widget__head
		h3.sponsors-widget__title Unilever group of company
		img(src="./assets/images/unilever.png", alt="Unilever")
	.sponsors-widget__text Cloud provider. It supports us in all endeavors, but often draws us into adventures.
	a.sponsors-widget__link(href="javascript:void(0)") How to become a sponsor?
