.sponsorWidget
	.sponsorWidget__head
		h3.sponsorWidget__companyTitle
			| Uniliver group
			br
			| of company
		img(src="./assets/images/unilever.png")
	.sponsorWidget__text Cloud provider. It supports us in all endeavors, but often draws us into adventures.
	a.sponsorWidget__becomeASponsons(href="javascript:void(0)") How to become a sponsor?
