.sponsors-widget {
  margin-bottom: 56px;
}

.sponsors-widget__head {
  display       : flex;
  margin-bottom : 13px;
  user-select   : none;
}

.sponsors-widget__title {
  margin-right: 32px;
}

.sponsors-widget__text {
  font-weight   : 600;
  line-height   : 26px;
  margin-bottom : 15px;
}

.sponsors-widget__link {
  color           : var(--blue-color);
  font-weight     : 600;
  line-height     : 26px;
  text-decoration : none;

  &:hover {
    text-decoration: underline;
  }
}
