.widget__title {
	line-height   : 26px;
	flex          : 1;
	margin-bottom : 13px;
}

.widget__content {
	margin-bottom: 20px;
}

.widget__button {
	color           : var(--text-blue);
	font-weight     : 600;
	line-height     : 26px;
	text-decoration : none;
}

.widget__button:hover {
	text-decoration: underline;
}
