include ../../buttons/base-button/baseButton

.pre-footer-wrapper
    .pre-footer-container
        h3 Du hast eine Frage?
        +baseButton({  text: 'Frage stellen', bgColor: 'var(--background-color-white)', color: 'var(--text-black-2)' })(class="pre-footer__button")
