mixin company(logo, title, number)
	.bestCompaniesWidgetCompany
		img.bestCompaniesWidgetCompany__logo(src=`./assets/images/${ logo }`)
		.bestCompaniesWidgetCompany__title= title
		.bestCompaniesWidgetCompany__number= number

.widget.bestCompaniesWidget
	h3.widget__title Best company

	.widget__content
		+company('logo_nova.png', 'New Post', '1450,99')
		+company('logo_cossa.png', 'Cossa', '2450,99')
		+company('logo_nemiroff.png', 'Nemiroff', '2350,99')
		+company('logo_unilever.png', 'Uniliver', '3450,99')
		+company('logo_rusbase.png', 'Rusbase', '850,99')
		+company('logo_lifecell.png', 'Lifecell', '1650,99')

	a.widget__button(href="javascript:void(0)") Show all
