.footer {
	position : relative;
	padding  : 96px 20px 114px;
}

.footer__top-block {
	display         : flex;
	justify-content : space-between;
}

.footer__downloads {
	display        : flex;
	flex-direction : column;
	flex           : 0 0 auto;
	margin-right   : 200px;

	@media (max-width: 1279px) {
		margin-right: 130px;
	}
}

.footer__socials {
	align-items : center;
	margin-top  : 130px;
}

.footer__socials__icons {
	justify-content : space-between;
	width           : 300px;
	margin-bottom   : 32px;
}

.footer__social-link {
	svg {
		fill       : var(--black-color-2);
		transition : fill .3s ease-out;
	}

	&:hover svg {
		fill: var(--red-color);
	}
}

.footer__copyright {
	font-size     : 14px;
	margin-bottom : 32px;
}
