@media (max-width: 600px) {
	.footer-wrapper {
		display: none;
	}

	.footer {
		display : flex;
		padding : 0;

		.store-links-wrapper {
			margin-top: 16px;

			.store-link {
				margin-top: 0;
			}
		}
	}

	.footer__pages-links {
		line-height : 24px;
		margin-top  : 16px;
	}

	.footer__pages-links__item {
		position        : relative;
		font-size       : 12px;
		color           : var(--black-color);
		text-decoration : none;
		padding         : 0 8px;
	}

	.footer__socials {
		align-items : flex-start;
		margin-top  : 20px;
		padding     : 0 6px 8px;
	}

	.footer__socials__icons {
		width         : auto;
		margin-bottom : 0;
	}

	.footer__social-link {
		& + & {
			margin-left: 24px;
		}

		svg {
			width  : 16px;
			height : 16px;
		}
	}

	.footer__copyright {
		font-size     : 12px;
		margin-top    : 16px;
		margin-bottom : 0;
	}

	.footer__logo {
		margin-top: 16px;

		svg {
			width: 104px;
		}
	}
}
