include ../../svg-icon/svgIcon

.footer
  +baseButton({ text: 'Für Unternehmen' })(class="footer__action-btn")
  .footer__pages-links
    div
      a.footer__pages-links__item(href="javascript:void(0)") FAQ
      span &#183;
      a.footer__pages-links__item(href="javascript:void(0)") Alle Themen
      span &#183;
      a.footer__pages-links__item(href="javascript:void(0)") AGB
      span &#183;
      a.footer__pages-links__item(href="javascript:void(0)") Datenschutz
    div
      a.footer__pages-links__item(href="javascript:void(0)") Richtlinien
      span &#183;
      a.footer__pages-links__item(href="javascript:void(0)") Kontakt
      span &#183;
      a.footer__pages-links__item(href="javascript:void(0)") Impressum
  include ../../buttons/store-links/storeLinks
  .footer__socials
    include ./baseFooterSocialIcons
    .footer__copyright
      span 2013-2020 — child.de.
      span All rights reserved
    a.footer__logo(href="javascript:void(0)")
      +svgIcon("logo")
