@media (max-width: 600px) {
  .top-navigation {
    height: 64px;

    .search-bar {
      display: none;
    }
  }

  .top-navigation__container {
    padding: 0 14px;
    justify-content: space-between;
  }

  .top-navigation__logo {
    z-index: 2;

    svg {
      width: 96px;
    }
  }

  .top-navigation-right-block__search-icon {
    display: block;
    margin-top: -2px;
  }

  .top-navigation-right-block__item + .top-navigation-right-block__item {
    margin-left: 18px;
  }

  .top-navigation-right-block__notification-icon {
    width: 20px;
    height: 20px;
  }

  .top-navigation-right-block__user-image {
    width: 34px;
  }

  .top-navigation-right-block .top-navigation__link,
  .top-navigation-right-block .top-navigation__register-btn {
    display: none;
  }

  .top-navigation__link:not(.top-navigation__link--highlighted):before {
    content: none;
  }
}
