include ../svg-icon/svgIcon

.topNavigation
	.topNavigation__container
		img(srcset="./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x")

		.searchBar.topNavigation__searchBar
			input.searchBar__input(placeholder='Search')
			.searchBar__searchIcon
				+svgIcon('search')

		.topNavigationRightBlock.topNavigation__right
			.topNavigationRightBlock__item
				+svgIcon('notification')
			.topNavigationRightBlock__item#userImage
				img(srcset="./assets/images/avatar.png 1x, ./assets/images/avatar@2x.png 2x")
			include ../account-widget/accountWidget
