.upload-image-wrapper(style="display: none")
  .upload-image-container.base-dropdown
    div
      .base-dropdown__input-wrapper
        input.base-dropdown__input(type="text", placeholder="Link")
      .base-dropdown__action Add image
      .base-dropdown__delimiter Or
      .base-dropdown__fileupload
        input.base-dropdown__file-input(
          type   = "file",
          accept = "image/png, image/jpeg, image/jpg, image/bmp, image/webp"
        )
        .base-dropdown__action Upload from device
