include ./answer-comment-card/answerCommentCard

.answer-comments-wrapper
    .answer-comments
        .answer-comments__caption-wrapper
            h3.answer-comments__caption Verlasse Deine Antwort
            .answer-comments__total-comments 12
        .answer-comments__comments-container
            +answerCommentCard({ 
                author : 'Jhon Dow',
                avatar : 'question-3-avatar',
                text   : 'I still do not understand from the article: the law of conservation of energy - a myth or reality?'
            })
            +answerCommentCard({ 
                author : 'Philip Djones',
                avatar : 'question-2-avatar',
                text   : 'It would be useful here to mention the Noether theorem about the connection of conservation laws (more precisely, invariants of the equations of motion) with the symmetries of space-time. For example, the conservation of energy follows from the homogeneity of time'
            })
