@media (max-width: 600px) {
    .answer-comments-wrapper {
        margin-top : 20px;
        padding    : 0 12px;
    }

    .answer-comments__caption-wrapper {
        margin-bottom: 16px;
    }

    .answer-comments__total-comments {
        font-size : 12px;
        padding   : 0 8px;
    }
}
