mjml
	mj-head
		mj-preview New answer to the question Wie viel verdienen Ticktoker?
		mj-title New answer to the question
	mj-body
		mj-wrapper(padding="0 12px")
			mj-section(padding="32px 0 16px")
				mj-group(width="100%")
					mj-column(padding="0")
						mj-image(
							href    = "#"
							src     = "../assets/images/child-logo.png"
							alt     = "Child.de logo"
							align   = "left"
							height  = "26px"
							width   = "110px"
							padding = "0"
						)

					mj-column(padding="0")
						mj-text(
							font-size      = "12px"
							font-weight    = "700"
							font-family    = "Helvetica, Arial, sans-serif"
							line-height    = "22px"
							text-transform = "uppercase"
							align          = "right"
							padding        = "0"
							padding-top    = "8px"
							color          = "#808080"
						)
							| Answer to question

			mj-section(
				background-color = "#a461c7"
				background-width = "600px"
				border-radius    = "10px"
				padding-top      = "12px"
				padding-bottom   = "24px"
			)
				mj-hero(
					mode              = "fixed-height"
					height            = "300px"
					background-color  = "#a461c7"
					background-height = "300px"
					background-width  = "600px"
					vertical-align    = "bottom"
					padding           = "0"
				)
					mj-button(
						href             = "#"
						align            = "left"
						background-color = "transparent"
						border-radius    = "0"
						font-size        = "28px"
						font-weight      = "700"
						font-family      = "Helvetica, Arial, sans-serif"
						line-height      = "34px"
						inner-padding    = "0"
						text-align       = "left"
						padding          = "10px 24px 0"
					)
						| Wie viel verdienen Ticktoker?

			mj-wrapper(padding-bottom="0")
				mj-section(
					border-radius    = "10px"
					background-color = "#faf4dc"
					background-width = "600px"
					padding          = "24px"
				)
					mj-column
						mj-text(
							font-size   = "16px"
							font-family = "Helvetica, Arial, sans-serif"
							line-height = "24px"
							padding     = "0 0 24px"
						)
							| Introvertierte Menschen sind eher verschlossen,
							| scheu und zurückhaltend im Umgang mit anderen Menschen.
							| Sie halten sich in Gegenwart anderer eher im Hintergrund.
							| Extrovertierte Menschen blühen auf, wenn sie mit anderen Menschen zusammen sind.
							| Sie sind gesellig, kontaktfreudig, sozial aktiv und sehr kommunikativ.

						mj-divider(
							border-color = "#282a2d"
							border-width = "1px"
							padding      = "0"
						)

						mj-group(width="100%")
							mj-column(
								align       = "left"
								padding-top = "24px"
							)
								mj-text(
									font-size      = "12px"
									font-weight    = "700"
									font-family    = "Helvetica, Arial, sans-serif"
									line-height    = "20px"
									text-transform = "uppercase"
									align          = "left"
									padding        = "0"
									color          = "#808080"
								)
									| Neu antwort

							mj-column(
								align       = "right"
								padding-top = "24px"
							)
								mj-button(
									href             = "#"
									align            = "right"
									padding          = "0"
									font-size        = "16px"
									font-weight      = "700"
									font-family      = "Helvetica, Arial, sans-serif"
									line-height      = "20px"
									background-color = "transparent"
									border-radius    = "0"
									inner-padding    = "0"
									text-align       = "right"
									color            = "#282a2d"
								)
									| Read more

				mj-raw
					tr
						td
							div(style=`
								border-bottom-style : none;
								border-bottom-width : 0;
								border-right-color  : transparent;
								border-right-style  : solid;
								border-right-width  : 20px;
								border-top-color    : #faf4dc;
								border-top-style    : solid;
								border-top-width    : 20px;
								height              : 0;
								width               : 0;
								margin-left         : 22px;
							`)

			mj-section(padding-top="12px")
				mj-group(width="100%")
					mj-column(
						align         = "left"
						width         = "52px"
						padding-right = "12px"
					)
						mj-image(
							href          = "#"
							padding       = "0"
							width         = "40px"
							height        = "40px"
							border-radius = "14px"
							alt           = "User avatar"
							src           = "../assets/images/question-0-avatar.png"
						)

					mj-column(
						align = "left"
						width = "80%"
					)
						mj-button(
							href             = "#"
							padding          = "0"
							inner-padding    = "0"
							background-color = "transparent"
							color            = "#54a1c9"
							font-size        = "14px"
							font-weight      = "700"
							line-height      = "20px"
							font-family      = "Helvetica, Arial, sans-serif"
							text-align       = "left"
							align            = "left"
						)
							| Philip Djones

						mj-button(
							href             = "#"
							padding          = "0"
							inner-padding    = "0"
							background-color = "transparent"
							color            = "#282a2d"
							font-size        = "14px"
							line-height      = "20px"
							font-family      = "Helvetica, Arial, sans-serif"
							text-align       = "left"
							align            = "left"
						)
							| Expert of child science

			mj-section(padding-bottom="42px")
				mj-column
					mj-button(
						href             = "#"
						background-color = "#e45b60"
						width            = "197px"
						height           = "50px"
						font-size        = "14px"
						font-weight      = "700"
						font-family      = "Helvetica, Arial, sans-serif"
						color            = "#ffffff"
						text-align       = "center"
						border-radius    = "25px"
						padding          = "0"
					)
						| Antwort lesen

			mj-section(
				background-color = "#f2f7f7"
				background-width = "600px"
				border-radius    = "10px"
				padding          = "24px"
			)
				mj-column(width="13%")
					mj-button(
						href             = "#"
						padding          = "0"
						font-size        = "14px"
						font-family      = "Helvetica, Arial, sans-serif"
						line-height      = "20px"
						background-color = "transparent"
						border-radius    = "0"
						inner-padding    = "0"
						color            = "#282a2d"
					)
						| Startseite

				mj-column(width="37%")
					mj-button(
						href             = "#"
						padding          = "0"
						font-size        = "14px"
						font-family      = "Helvetica, Arial, sans-serif"
						line-height      = "20px"
						background-color = "transparent"
						border-radius    = "0"
						inner-padding    = "0"
						color            = "#282a2d"
					)
						| Antworten abbestellen

				mj-column(width="50%")
					mj-button(
						href             = "#"
						padding          = "0"
						font-size        = "14px"
						font-family      = "Helvetica, Arial, sans-serif"
						line-height      = "20px"
						background-color = "transparent"
						border-radius    = "0"
						inner-padding    = "0"
						color            = "#282a2d"
					)
						| Newsletter pausieren oder abbestellen

			mj-section(padding="32px 0 0")
				mj-group(width="300px")
					mj-column
						mj-image(
							padding = "0 12px"
							href    = "#"
							alt     = "LinkedIn account of Child.de"
							width   = "25px"
							height  = "25px"
							src     = "../assets/images/linkedin.png"
						)

					mj-column
						mj-image(
							padding = "4px 12px 0"
							href    = "#"
							alt     = "Twitter account of Child.de"
							width   = "27px"
							height  = "22px"
							src     = "../assets/images/twitter.png"
						)

					mj-column
						mj-image(
							padding = "2px 12px 0"
							href    = "#"
							alt     = "Facebook account of Child.de"
							width   = "13px"
							height  = "23px"
							src     = "../assets/images/facebook.png"
						)

					mj-column
						mj-image(
							padding = "2px 12px 0"
							href    = "#"
							alt     = "Pinterest account of Child.de"
							width   = "20px"
							height  = "25px"
							src     = "../assets/images/pinterest.png"
						)

					mj-column
						mj-image(
							padding = "3px 12px 0"
							href    = "#"
							alt     = "Youtube account of Child.de"
							width   = "26px"
							height  = "20px"
							src     = "../assets/images/youtube.png"
						)

			mj-section(padding="32px 0 24px")
				mj-group(width="273px")
					mj-column(width="55.5%")
						mj-text(
							font-family = "Helvetica, Arial, sans-serif"
							font-size   = "14px"
							color       = "#282a2d"
							padding     = "0"
							line-height = "20px"
							align       = "right"
						)
							| 2013 - 2020 — child.de.

					mj-column(width="44.5%")
						mj-text(
							font-family = "Helvetica, Arial, sans-serif"
							font-size   = "14px"
							color       = "#848484"
							padding     = "0"
							line-height = "20px"
							align       = "left"
						)
							|&nbsp;All rights reserved
