@media (max-width: 600px) {
  .answer-comment-card-wrapper {
    margin-bottom: 16px;
  }

  .answer-comment-card {
    padding: 20px 20px 12px 24px;
  }

  .answer-comment-card__content {
    line-height: 24px;

    p {
      margin-top    : .75rem;
      margin-bottom : .75rem;
    }
  }

  .answer-comment-card__answer-btn {
    font-size    : 12px;
    margin-top   : 0;
    margin-right : 0;
  }

  .answer-comment-card__header .question-reviews__likes {
    display: none;
  }

  .answer-comment-card__actions .question-reviews__likes {
    display     : flex;
    margin-left : auto;
  }
}
