extends ./layouts/layout

block title 
	title Index 

block content
	include ./index_parts/topNavigation
	.container--1400
		.spaceVertical--100
		include ./index_parts/threeColumnContainer
	include ./index_parts/youHaveAQuestion
	include ./index_parts/footer
