extends ./layouts/layout

block title 
	title Index 

block content
	include ./index_parts/topNavigation
	.container--1400
		.spaceVertical--100
		include ./index_parts/threeColumnContainer
	include ./index_parts/askQuestionModal
	include ./index_parts/preFooter
	include ./index_parts/footer
	include ./index_parts/questionCardTopDropdown
	include ./index_parts/questionCardBottomDropdown
