.account-widget {
    display  : none;
    position : absolute;
    top      : 64px;
    padding  : 14px 0;
    width    : 235px;
    right    : 0;
    z-index  : 50;
}

.account-widget__item {
    display         : flex;
    align-items     : center;
    padding         : 0 22px;
    line-height     : 45px;
    cursor          : pointer;
    font-weight     : 600;
    text-decoration : none;
    color           : var(--black-color-2);
}

.account-widget__item:hover {
    background-color: var(--background-color-gray);
}

.account-widget__item + .account-widget__item {
    margin-top: 4px;
}

.account-widget__item__icon {
    display         : flex;
    justify-content : center;
    width           : 16px;
    margin-right    : 12px;
}

.account-widget__item {
    outline: none;
}
