.tooltip-wrapper#add-avatar-reminder
    .tooltip
        span.material-icons.tooltip__close-icon(data-target-close="add-avatar-reminder") cancel
        .tooltip__content Fügen Sie einen Avatar hinzu, der sich von anderen Benutzern unterscheidet
        a.tooltip__button(href="/profile") Avatar hinzufügen
