.date-filter
	button.date-filter__item.date-filter__item--active(type="button") Day
	button.date-filter__item(type="button") Week
	button.date-filter__item(type="button") Month
	button.date-filter__item(type="button") Year
