@media (max-width: 600px) {
	.select-dropdown {
		padding: 0 4px;
	}

	.select-dropdown__btn__check-icon {
		width     : 28px;
		min-width : 28px;
		height    : 28px;
	}

	.select-dropdown__btn__check-icon .material-icons-round {
		font-size: 18px;
	}

	.select-dropdown__btn {
		padding     : 0;
		line-height : 36px;
	}

	.select-dropdown__btn + .select-dropdown__btn {
		margin-top: 12px;
	}

	.user-select__avatar img {
		width: 32px;
	}

	.user-select__name {
		font-size : 12px;
		color     : var(--blue-color);
	}
}
