.user-select,
.select-dropdown__btn {
    font-family : var(--font-montserrat);
    font-size   : 12px;
    font-weight : 500;
    color       : var(--text-blue);
    user-select : none;
    cursor      : pointer;
}

.user-select__selected,
.user-select {
    display     : flex;
    align-items : center;
}

.select-dropdown__btn {
    display          : flex;
    align-items      : center;
    width            : 100%;
    background-color : transparent;
    border           : 0;
    outline          : none;
    transition       : transform .1s ease-out;
}

.select-dropdown__btn:active {
    transform: scale(.96);
}

.select-dropdown__btn__check-icon {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    border-radius    : 50%;
    background-color : var(--background-color-gray);
    margin-left      : auto;
}

.select-dropdown__btn__check-icon .material-icons-round {
    color: var(--text-blue);
}

.user-select__name {
    margin-left: 11px;
}

.user-select__selected .material-icons-round {
    font-size   : 16px;
    font-weight : 700;
    margin-left : 4px;
    margin-top  : 4px;
    color       : var(--text-gray-2);
}
