.user-select
    .user-select__selected(data-target="userSelectDropdown")
        span.user-select__avatar
            img(src="./assets/images/question-vote-avatar.png", alt="")
        span.user-select__name Philip Djones
        span.user-select__icon 
            span.material-icons-round keyboard_arrow_down
    .user-select__dropdown-wrapper.base-dropdown(style="display: none")
        .user-select__dropdown.select-dropdown
            button.select-dropdown__btn
                span.user-select__avatar
                    img(src='./assets/images/question-vote-avatar.png', alt="")
                span.user-select__name Philip Djones
                span.select-dropdown__btn__check-icon
                    span.material-icons-round done
            button.select-dropdown__btn
                span.user-select__avatar
                    img(src='./assets/images/question-1-avatar.png', alt="")
                span.user-select__name Don't use my name