.upload-cover-header {
    position    : relative;
    display     : flex;
    align-items : center;
}

.upload-cover-header__title {
    font-family : var(--font-montserrat);
    font-weight : 700;
}

.upload-cover__upload-btn {
    border           : 0;
    border-radius    : 50px;
    background-color : var(--background-color-gray);
    font-family      : var(--font-montserrat);
    font-weight      : 700;
    width            : 100%;
    height           : 40px;
    outline          : none;
}

.upload-cover__delimiter {
    font-size: 12px;
}

.upload-cover__input-wrapper {
    display     : flex;
    align-items : center;
}

.upload-cover__upload-icon {
    margin-left      : 12px;
    margin-right     : -6px;
    background-color : var(--background-color-gray);
    height           : 36px;
    min-width        : 36px;
    width            : 36px;
    border-radius    : 36px;
    line-height      : 36px;
    text-align       : center;
    border           : 0;
    cursor           : pointer;
    outline          : none;
}

.upload-cover__upload-icon .material-icons {
    line-height: inherit;
}
