.upload-cover.base-dropdown
    .upload-cover__header.upload-cover-header
        .upload-cover-header__title Cover
        button.base-icon-btn.upload-cover__close-btn(data-target-close="qCoverUpload")
            span.material-icons-round close
    .upload-cover__content
        button.upload-cover__upload-btn Upload image
        .upload-cover__delimiter.base-dropdown__delimiter or
        .upload-cover__input-wrapper
            input.upload-cover__input.base-dropdown__input(type="text", placeholder="Paste image address")
            button.upload-cover__upload-icon
                span.material-icons get_app
