mixin questionCardBtn(image_src, button_text, additional_class)
    button.question-card-button(type="button", class=additional_class)
        img.question-card-button__icon(src=image_src)
        span= button_text