include ./questionCardBtn.pug

mixin questionCard(overlay_color, bg_image, avatar)
    .question-card 
        .question-card__header.question-header
            .question-header__image-wrapper.question-image
                .question-image__background(style=`background-image: url('./assets/images/${ bg_image }')`)
                .question-image__overlay(style=`background-color: ${ overlay_color }`)
            a.question-header__link(href="#")
            .question-header__info.question-info 
                .question-info__user.question-user
                    img(src=`./assets/images/${ avatar }`)
                    span.question-user__name Philip Djones
                    span.question-user__date yesterday at 12:20
                    .question-user__label 
                        img.question-user__label__icon(src="./assets/icons/toy.svg")
                        span Kinderfrage
                .question-info__title 
                    | Wie macht man aus einem Eimer 
                    br
                    |ein Hundehalsband? 
                .question-info__chips
                    .question-info__chip Real estate 
                    .question-info__chip Career
            button.question-header__dropdown-icon
                img(src="./assets/icons/dropdown.svg")
        .question-card__reactions-wrapper
            .question-card__reactions 
                +questionCardBtn('./assets/icons/heart.svg', 'Interessant 53')
                +questionCardBtn('./assets/icons/messages.svg', '345', 'question-card__reactions__messages')  
            img(src="./assets/icons/eye.svg")
        .question-card__content
            div
                .question-card__content__short-desc
                    span
                        | Der Eimer sollte aus weichem Kunststoff bestehen. 
                        | Wählen Sie die Größe des Eimers auf der Grundlage der Größe des Hundes. 
                        | Einem durchschnittlichen Hund passt etwa ein 5 Liter Eimer. 
                        | Nehmen Sie die Tiefe so auf, dass der Bug des Hundes um 1/3 herau...
                    span.question-card__content__read-more-btn Mehr lesen
                .question-card__content__full-desc
                    div
                        p Introvertierte Menschen sind eher verschlossen, scheu und zurückhaltend im Umgang mit anderen Menschen. Sie halten sich in Gegenwart anderer eher im Hintergrund. Extrovertierte Menschen blühen auf, wenn sie mit anderen Menschen zusammen sind. Sie sind gesellig, kontaktfreudig, sozial aktiv und sehr kommunikativ.
                        p Introversion und Extraversion sind eine angeborene Veranlagung, auf die allerdings das soziale Umfeld, die Erziehung sowie prägende Erlebnisse weiter Einfluss nehmen können. Das heißt, Sie kommen bereits introvertiert, zentrovertiert oder extrovertiert auf die Welt.
                        p Die Entwicklung in die eine oder andere Richtung kann beispielsweise durch die Erziehung weiter ausgeprägt werden.
                        p Aber aus einem introvertierten wird niemals ein extrovertierter Mensch, und umgekehrt.
                        p Beide können sich zwar in einer bestimmten Situation gegensätzlich verhalten, aber in ihrer Wesensart werden sie sich nicht ändern.
                    .question-card__content__votes.question-votes
                        .question-votes__likes
                            +questionCardBtn('./assets/icons/like.svg', 'Gute Antwort +75')
                            +questionCardBtn('./assets/icons/dislike.svg', '0', 'question-votes__dislikes-item')
                        button.question-votes__horizontal-dropdown
                            img(src="./assets/icons/dropdown-horizontal.svg")
                    button.question-card__read-all-answers-btn Weitere Antworten lesen

        