include ../themes/theme-chips/themeChips

.popular-themes
	h3 Popular themes

	+themeChips({
		themes: [
			{ name: 'Blog' },
			{ name: 'Business' },
			{ name: 'Career' },
			{ name: 'Real estate' },
			{ name: 'Health' },
			{ name: 'Economy' },
			{ name: 'Future' }
		],
		withoutLimit: true
	})
