include ../theme-chips/desktop/dt-themeChips

.popular-themes
	h3.popular-themes__title Popular themes

	+themeChips({ 
		themes: [
			{ to: '#', name: 'Blog' }, 
			{ to: '#', name: 'Business' },
			{ to: '#', name: 'Career' },
			{ to: '#', name: 'Real estate' }, 
			{ to: '#', name: 'Health' },
			{ to: '#', name: 'Economy' }, 
			{ to: '#', name: 'Future' }
		],
		withoutLimit: true
	})
