.popularThemesWidget
	h3.popularThemesWidget__title Popular themes

	.popularThemesWidget__tagsList
		.popularThemesWidget__tag Blog
		.popularThemesWidget__tag Business
		.popularThemesWidget__tag Economy
		.popularThemesWidget__tag Real estate
		.popularThemesWidget__tag Career
		.popularThemesWidget__tag Health
		.popularThemesWidget__tag Future
