mixin bottomMenuLink({ icon, title, href = '' })
	a.bottom-menu__link(href=href)
		.bottom-menu__link__icon
			+svgIcon(icon)
		| !{ title }

.bottom-menu#bottomMenu(style="display: none") 
	.bottom-menu__search-bar-wrapper
		.search-bar
			input.search-bar__input(type="text", placeholder="Search")
			button.search-bar__icon(aria-label="Search", type="button")
				span.material-icons-round search 
	.bottom-menu__nav-wrapper
		+bottomMenuLink({ icon: 'compass', title: 'Neu' })
		+bottomMenuLink({ icon: 'trophy', title: 'Top' })
		+bottomMenuLink({ icon: 'themen', title: 'Themen', href: '/themes' })
		+bottomMenuLink({ icon: 'surface', title: 'Bewertung' })
	include ../../footer/base/mBaseFooter
