.bottom-menu__search-bar-wrapper {
    margin-bottom: 16px;
}

.bottom-menu__nav-wrapper {
    padding       : 0 2px;
    margin-bottom : 16px;
}

.bottom-menu__link {
    display         : flex;
    align-items     : center;
    text-decoration : none;
    color           : var(--text-black);
    font-weight     : 600;
    line-height     : 32px;
    transition      : .1s ease-out;
}

.bottom-menu__link:active {
    transform: scale(.96);
}

.bottom-menu__link + .bottom-menu__link {
    margin-top: 4px;
}

.bottom-menu__link__icon {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 32px;
}

.bottom-menu__link__icon svg {
    width  : 15px;
    height : 15px;
}
