mixin bottomMenuLink({ icon, title })
    a.bottom-menu__link(href="#")
        .bottom-menu__link__icon
            +svgIcon(icon)
        | !{ title }

.bottom-menu#bottomMenu(style="display: none") 
    .bottom-menu__search-bar-wrapper
        .search-bar
            input.search-bar__input(type="text", placeholder='Search')
            .search-bar__icon
                span.material-icons-round search 
    .bottom-menu__nav-wrapper
        +bottomMenuLink({ icon: 'compass', title: 'Neu' })
        +bottomMenuLink({ icon: 'trophy', title: 'Top' })
        +bottomMenuLink({ icon: 'themen', title: 'Themen' })
        +bottomMenuLink({ icon: 'surface', title: 'Bewertung' })
    include ../../footer/mobile/m-footer
