.question-card-wrapper--small {
    margin-bottom: 44px;
}

.question-card-small {
    display  : flex;
    position : relative;

    .question-info__title {
        margin-right: 0;
    }
    
    .question-card__reactions {
        margin-top: 8px;
    }

    &:hover .question-info__title {
        text-decoration: underline;
    }

    &:active {
        opacity: .65;
    }
}

.question-card-small__link {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

.question-card-small__image-wrapper {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 208px;
    min-width       : 208px;
    border-radius   : 20px;
    margin-right    : 22px;
}

.question-card-small__image {
    width: 75px;

    &--large {
        width: 84px;
    }
}

.question-card-small__content {
    padding: 8px 0;
}
