include ../themes/theme-chips/themeChips

mixin questionCardSmall({ bgColor = transparent, image, interests = 0, title, themes = [] })
	.question-card-wrapper.question-card-wrapper--small
		.question-card-small
			a.question-card-small__link(href="javascript:void(0)")
			.question-card-small__image-wrapper(style=`background-color: ${ bgColor }`)
				img.question-card-small__image(
					src   = `./assets/images/${ image }.png`,
					alt   = ""
					class = ['blue_personage', 'green_personage'].includes(image) ? 'question-card-small__image--large' : ''
				)
			.question-card-small__content
				h3.question-info__title= title
				+themeChips({ themes })
				.question-card__reactions
					button.question-card-button
						span.question-card-button__icon.material-icons favorite
						if interests > 0
							span Interessant !{ interests }
					button.question-card-button(data-target="answerModal")
						span.question-card-button__icon
							+svgIcon("answer")
						span Antworten 2
