mixin themeChip({ to, name, target, removable = false })
    .theme-chip(data-target=target)            
        span !{ name }
        if removable
            span.material-icons-round close
        else
            a.theme-chip__link(href=to)
