.theme-chips-wrapper {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;
}

.theme-chip {
    position         : relative;
    font-family      : var(--font-open-sans);
    border-radius    : 40px;
    background-color : var(--background-color-gray);
}

.theme-chip--light {
    background-color : rgba(241, 244, 246, .22);
}

.theme-chip__link {
    display  : block;
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
}

.theme-chip:active {
    transform : scale(.96);
    opacity   : .65;
}
