extends ../layouts/pageLayout

include ../common.blocks/top-navigation/topNavigation

block title
	title Password recovery

block body
	body.page--registration
		+topNavigation({ bgColor: 'transparent', isUserAuthorized: false })(class="top-navigation--large")
		main.authorization-form-container.container-1024
			h1.authorization-form-title Dang.
			.authorization-form-subtitle Forgot your password, eh?
			include ../common.blocks/authorization-forms/forgot-password-form/forgotPasswordForm
		include ../common.blocks/footer/authorization/authFooter

		script(src="./js/index.min.js")
