extends ../common.blocks/layouts/m-pageLayout

block title
    title Index

block content
    include ../common.blocks/top-navigation/mobile/m-topNavigation
    include ../common.blocks/search-bar/mobile/m-searchBar
    .page-title-wrapper
        h3 Nur so sind alle Erfahrungen, Meinungen und Antworten zuganglich.
    include ../common.blocks/personages/mobile/m-personages
    include ../common.blocks/enter-question/mobile/m-enterQuestion
    include ../common.blocks/date-filter/dateFilter
    include ../common.blocks/opinion-card/mobile/m-opinionCard

    include ../common.blocks/questions-slider/mobile/m-questionsSlider