extends ../common.blocks/layouts/m-pageLayout

include ../common.blocks/question-card/mobile/m-questionCard
include ../common.blocks/question-card-with-vote/mobile/m-questionCardWithVote

block title
    title Index

block content
    include ../common.blocks/top-navigation/mobile/m-topNavigation
    include ../common.blocks/search-bar/mobile/m-searchBar
    .page-title-wrapper
        h3 Nur so sind alle Erfahrungen, Meinungen und Antworten zuganglich.
    include ../common.blocks/personages/mobile/m-personages
    include ../common.blocks/enter-question/mobile/m-enterQuestion
    include ../common.blocks/filter-by-dates/filterByDates
    include ../common.blocks/opinion-card/mobile/m-opinionCard
    +questionCard({ 
        avatar     : 'question-0-avatar.png',
        title      : 'Reverse engineering of a binary format on the example of Korg.',
        interested : true
    })
    include ../common.blocks/questions-slider/mobile/m-questionsSlider
    +questionCard({ 
        overlay   : 'var(--red-color)',
        bgImage   : 'question-1-image.png',
        avatar    : 'question-1-avatar.png',
        title     : 'Wie macht man aus einem Eimer ein Hundehalsband?'
    })
    +questionCard({ 
        overlay : 'var(--orange-color)',
        bgImage : 'question-2-image.png',
        avatar  : 'question-2-avatar.png',
        title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
    })
    +questionCard({ 
        overlay : 'var(--green-color)',
        bgImage : 'question-3-image.png',
        avatar  : 'question-3-avatar.png',
        title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
    })
    +questionCard({ 
        overlay : 'var(--purple-color)',
        bgImage : 'question-4-image.png',
        avatar  : 'question-4-avatar.png',
        title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
    })
    +questionCardWithVote({
        avatar        : 'question-vote-avatar.png',
        title         : 'Which movie do you like more?',
        subtitle      : 'Please vote below',
        votingOptions : [
            { name: 'Das Boot', power: 75, bgColor: '#fabb4f' },
            { name: 'Aquaman', power: 45, bgColor: '#75d0c4' },
            { name: 'The house that Jack has built', power: 55, bgColor: '#e57497' },
            { name: 'Brothers sisters', power: 45, bgColor: '#ffcf62' }
        ]
    })
    include ../common.blocks/pre-footer/mobile/m-preFooter
    include ../common.blocks/nav-menu/mobile/m-navMenu

block modals
    .bottom-sheet-wrapper#bottomSheet
        .bottom-sheet
            .bottom-sheet__arrow-icon(data-target="closeBottomSheet")
                span.material-icons-round expand_more
            .bottom-sheet__content
                include ../common.blocks/bottom-sheets/bottom-menu/m-bottomMenu
                include ../common.blocks/bottom-sheets/qc-menus/m-qcTopMenu
                include ../common.blocks/bottom-sheets/qc-menus/m-qcBottomMenu