extends ../common.blocks/layouts/m-pageLayout

include ../common.blocks/question-card/questionCard

block title
    title Index

block content
    include ../common.blocks/top-navigation/mobile/m-topNavigation
    include ../common.blocks/search-bar/mobile/m-searchBar
    .page-title-wrapper
        h3 Nur so sind alle Erfahrungen, Meinungen und Antworten zuganglich.
    include ../common.blocks/personages/mobile/m-personages
    include ../common.blocks/enter-question/mobile/m-enterQuestion
    include ../common.blocks/filter-by-dates/filterByDates
    include ../common.blocks/opinion-card/mobile/m-opinionCard
    +questionCard({ 
        avatar     : 'question-0-avatar.png',
        title      : 'Reverse engineering of a binary format <br> on the example of Korg.',
        interested : true
    })
    include ../common.blocks/questions-slider/mobile/m-questionsSlider