extends ../common.blocks/layouts/dt-pageLayout

include ../common.blocks/top-navigation/desktop/dt-topNavigation

block title 
	title Registration

block content
	main.main.main--lightblue
		+topNavigation({ bgColor: 'transparent', isUserAuthorized: false })
