extends ../common.blocks/layouts/dt-pageLayout

include ../common.blocks/question-card/questionCard
include ../common.blocks/question-card/questionCardWithVote

block title 
	title Index 

block content
	include ../common.blocks/top-navigation/topNavigation
	.spaceVertical--100
	.three-column-layout
		.container-1024
			.three-column-layout__left
				include ../common.blocks/left-nav-menu/leftNavMenu
			.three-column-layout__center
				h1
					| Nur so sind alle Erfahrungen,
					br
					| Meinungen und Antworten zuganglich.
				include ../common.blocks/personages/personages
				include ../common.blocks/enter-question/enterQuestion
				include ../common.blocks/date-filter/dateFilter
				include ../common.blocks/opinion-card/opinionCard
				+questionCard({ 
					avatar     : 'question-0-avatar.png',
					title      : 'Reverse engineering of a binary format <br> on the example of Korg.',
					interested : true
				})
				include ../common.blocks/questions-slider/questionsSlider
				+questionCard({ 
					overlay   : 'var(--red-color)',
					bgImage   : 'question-1-image.png',
					avatar    : 'question-1-avatar.png',
					withLabel : true,
					title     : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?'
				})
				+questionCard({ 
					overlay : 'var(--orange-color)',
					bgImage : 'question-2-image.png',
					avatar  : 'question-2-avatar.png',
					title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?'
				})
				+questionCard({ 
					overlay : 'var(--green-color)',
					bgImage : 'question-3-image.png',
					avatar  : 'question-3-avatar.png',
					title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?'
				})
				+questionCard({ 
					overlay : 'var(--purple-color)',
					bgImage : 'question-4-image.png',
					avatar  : 'question-4-avatar.png',
					title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?'
				})
				+questionCardWithVote({
					avatar        : 'question-vote-avatar.png',
					title         : 'Which movie do you like more?',
					subtitle      : 'Please vote below',
					votingOptions : [
						{ name: 'Das Boot', power: 75, bgColor: '#fabb4f' },
						{ name: 'Aquaman', power: 45, bgColor: '#75d0c4' },
						{ name: 'The house that Jack has built', power: 55, bgColor: '#e57497' },
						{ name: 'Brothers sisters', power: 45, bgColor: '#ffcf62' }
					]
				})
			.three-column-layout__right
				.widgetsList
					.widgetsList__block
						include ../common.blocks/comments/comments
					.widgetsList__block
						include ../common.blocks/sponsors/sponsor
					.widgetsList__block
						include ../common.blocks/popular-themes/popularThemes
					.widgetsList__block
						include ../common.blocks/best-companies/bestCompanies
					.widgetsList__block
						include ../common.blocks/we-are-read/weAreRead	
	include ../common.blocks/pre-footer/preFooter
	include ../common.blocks/footer/footer

block modals
	include ../common.blocks/question-card/questionCardTopDropdown
	include ../common.blocks/question-card/questionCardBottomDropdown
	include ../common.blocks/modals/ask-question-modal/askQuestionModal
	include ../common.blocks/modals/answer-modal/answerModal
