include ../common.blocks/top-navigation/topNavigation

doctype html
html(lang="de")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="cleartype" content="on")

		link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round|Material+Icons+Outlined", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet")
		
		link(href="./assets/icons/svg-symbols.css", rel="stylesheet")
		link(href="./css/index.min.css", rel="stylesheet")

		title Registration	
	body.page--registration
		+topNavigation({ bgColor: 'transparent', isUserAuthorized: false })(class="top-navigation--large")
		main.authorization-form-container.container-1024
			h1.authorization-form-title Willkommen!
			.authorization-form-subtitle 
				| Erstellen Sie Ihr Konto, um alle Funktionen von 
				br
				| meinung.de wahrnehmen zu können
			include ../common.blocks/authorization-forms/registration-form/registrationForm
		//- include ../common.blocks/footer/authorization/authFooter

		script(src="./js/index.min.js")
