extends ../layouts/pageLayout

include ../common.blocks/top-navigation/topNavigation
include ../common.blocks/question-card-opened/questionCardOpened

block title
	title Question

block body
	body
		+topNavigation({ bgColor: '#e3f0f5' })
		.search-bar-container#searchBar
			include ../common.blocks/search-bar/searchBar
		.space-vertical--80
		.three-column-layout
			.container-1024
				.three-column-layout__left
					include ../common.blocks/nav-menu/left-nav-menu/leftNavMenu
				.three-column-layout__center
					+questionCardOpened({ 
						overlay   : '#65adeb',
						bgImage   : 'question-opened-image.png',
						avatar    : 'question-2-avatar.png',
						withLabel : true,
						title     : 'Wie macht man aus einem Eimer ein Hundehalsband?'
					})
				.three-column-layout__right
					.widgetsList
						.widgetsList__block
							include ../common.blocks/comments/comments
						.widgetsList__block
							include ../common.blocks/we-are-read/weAreRead
		include ../common.blocks/pre-footer/preFooter
		include ../common.blocks/footer/base/baseFooter
		include ../common.blocks/nav-menu/bottom-nav-menu/bottomNavMenu

		#modals
			.bottom-sheet-wrapper.bottom-sheet-wrapper--hidden#bottomSheet
				.bottom-sheet
					.bottom-sheet__arrow-icon(data-target="closeBottomSheet")
						span.material-icons-round expand_more
					.bottom-sheet__content
						include ../common.blocks/bottom-sheets/bottom-menu/bottomMenu
						include ../common.blocks/bottom-sheets/qc-menus/qcTopMenu
						include ../common.blocks/bottom-sheets/qc-menus/qcBottomMenu
						include ../common.blocks/bottom-sheets/themes-select/themesSelect
						include ../common.blocks/bottom-sheets/q-cover-upload/qCoverUpload
						include ../common.blocks/bottom-sheets/q-author-select/qAuthorSelect
			.bs-overlay.bs-overlay--hidden
			#qTopDropdown.question-card__dropdown.question-dropdown
				include ../common.blocks/question-card-dropdowns/qcTopDropdown
			#qBottomDropdown.question-card__dropdown.question-dropdown.question-dropdown--bottom
				include ../common.blocks/question-card-dropdowns/qcBottomDropdown
			include ../common.blocks/modals/ask-question-modal/askQuestionModal
			include ../common.blocks/modals/answer-modal/answerModal

		script(src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js")
		script(src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js")
		script(src="./js/index.min.js")