extends ../layouts/pageLayout

include ../common.blocks/top-navigation/topNavigation
include ../common.blocks/progress-linear/progressLinear
include ../common.blocks/question-card/questionCard

block title
  title Theme

block body
  body
    +progressLinear({ color: '#3e8fad', percent: 30 })
    +topNavigation({ bgColor: '#e3f0f5' })
    .search-bar-container#searchBar
      include ../common.blocks/search-bar/searchBar
    .space-vertical--80
    main.main--with-bottom-border
      .three-column-layout
        .container-1024
          .three-column-layout__left
            include ../common.blocks/nav-menu/left-nav-menu/leftNavMenu
          .three-column-layout__center
            include ../common.blocks/themes/theme-header/themeHeader
            include ../common.blocks/themes/theme-tabs/themeTabs
            section
              #topThemeQuestionsTab
                +questionCard({
                  overlay : 'var(--orange-color)',
                  bgImage : 'question-2-image.png',
                  avatar  : 'question-2-avatar.png',
                  title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
                +questionCard({
                  overlay : 'var(--green-color)',
                  bgImage : 'question-3-image.png',
                  avatar  : 'question-3-avatar.png',
                  title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
              #openThemeQuestionsTab(style="display: none")
                +questionCard({
                  overlay : 'var(--green-color)',
                  bgImage : 'question-3-image.png',
                  avatar  : 'question-3-avatar.png',
                  title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
                +questionCard({
                  overlay : 'var(--purple-color)',
                  bgImage : 'question-4-image.png',
                  avatar  : 'question-4-avatar.png',
                  title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
              #allThemeQuestionsTab(style="display: none")
                +questionCard({
                  overlay   : 'var(--red-color)',
                  bgImage   : 'question-1-image.png',
                  avatar    : 'question-1-avatar.png',
                  withLabel : true,
                  title     : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
                +questionCard({
                  overlay : 'var(--orange-color)',
                  bgImage : 'question-2-image.png',
                  avatar  : 'question-2-avatar.png',
                  title   : 'Wie macht man aus einem Eimer ein Hundehalsband?'
                })
          .three-column-layout__right
            include ../common.blocks/comments/comments
      .space-vertical--80
    include ../common.blocks/footer/base/baseFooter
    include ../common.blocks/nav-menu/bottom-nav-menu/bottomNavMenu

    #modals
      .bottom-sheet-wrapper.bottom-sheet-wrapper--hidden#bottomSheet
        .bottom-sheet
          .bottom-sheet__arrow-icon(data-target="closeBottomSheet")
            span.material-icons-round expand_more
          .bottom-sheet__content
            include ../common.blocks/bottom-sheets/bottom-menu/bottomMenu
            include ../common.blocks/bottom-sheets/qc-menus/qcTopMenu
            include ../common.blocks/bottom-sheets/qc-menus/qcBottomMenu
            include ../common.blocks/bottom-sheets/qc-menus/qcThemesMenu
            include ../common.blocks/bottom-sheets/themes-select/themesSelect
            include ../common.blocks/bottom-sheets/q-cover-upload/qCoverUpload
            include ../common.blocks/bottom-sheets/q-author-select/qAuthorSelect
      .bs-overlay.bs-overlay--hidden
      #qTopDropdown.question-card__dropdown.question-dropdown.base-dropdown
        include ../common.blocks/question-card-dropdowns/qcTopDropdown
      #qBottomDropdown.question-card__dropdown.question-dropdown.question-dropdown--bottom.base-dropdown
        include ../common.blocks/question-card-dropdowns/qcBottomDropdown
      include ../common.blocks/modals/ask-question-modal/askQuestionModal

    script(src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js")
    script(src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js")
    script(src="./js/index.min.js")
