include ../swiper/baseSwiper

-
  const questionsCards = [
    {
      title      : 'Nur so sind alle Erfahrungen, Meinungen und Antworten',
      content    : 'Technological competition startups. Provides IT industry promising technologies.',
      buttonText : 'Deine Meinung zu…?'
    },
    {
      title      : 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
      content    : 'Technological competition startups. Provides IT industry promising technologies.',
      buttonText : 'Deine Frage'
    },
    {
      title      : 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
      content    : 'Technological competition startups.  Provides IT industry promising  technologies.',
      buttonText : 'Deine Frage'
    }
  ]

+baseSwiper(questionsCards)(class="questions-slider-wrapper")
