.themes-subscribe-modal {
  position : relative;
  width    : 780px;
  padding  : 48px 56px;
}

.themes-subscribe-modal__search-wrapper {
  margin-top: 32px;

  .profile-avatar-modal__input {
    padding-right: 16px;
  }
}
