include ../svg-icon/svgIcon

mixin comment(text)
	a.comment(href="javascript:void(0)")
		.comment__text= text
		.comment__meta
			.comment__icon
				+svgIcon('messages')
			.comment__count 12

.comments-widget
	h3.comments-widget__title Interessante neue Fragen und Antworten

	+comment('Wie macht man aus einem Eimer ein Hundehalsband?')
	+comment('Wie ist die Arabische Sprache?')
	+comment('Wie kann man die hölzernen Deckenstützen in einem Holzhaus dekorieren?')
	+comment('Wie unterscheidet sich homogenes Linoleum von heterogenem?')
	+comment('Ist es eine gute Idee, die Wände im Schlafzimmer mit einer Linkrist-Tapete zu verkleiden?')
