include ../buttons/baseBtn

.enter-question-wrapper 
    .enter-question-wrapper__container(data-target="qModal")
        input.enter-question-wrapper__input(type="text", placeholder="Enter your question")
        +baseBtn({ 
            text      : 'Shreiben',
            withArrow : true
        })