include ../buttons/base-button/baseButton

.enter-question-wrapper 
    .enter-question-wrapper__container(data-target="qModal")
        input.enter-question-wrapper__input(type="text", placeholder="Enter your question")
        +baseButton({ text: 'Shreiben', withArrow : true })(class="enter-question-wrapper__button")
