@media (max-width: 600px) {
	.enter-question-wrapper {
		height        : 36px;
		padding       : 0 12px;
		margin-bottom : 24px;
	}

	.enter-question-wrapper__input {
		height       : 36px;
		line-height  : 36px;
		padding      : 0 16px;
		font-size    : 12px;
		margin-right : 8px;
	}

	.enter-question-wrapper__button.base-btn {
		width       : 96px;
		height      : 36px;
		line-height : 36px;

		.base-btn__content {
			transition  : none;
			transform   : none;
			margin-left : 0;
		}

		.base-btn__icon {
			display: none;
		}
	}
}
