include ../../../buttons/base-button/baseButton
include ../../../svg-icon/svgIcon
include ../../../symbols-counter/symbolsCounter
include ../../../theme-chips/desktop/dt-themeChips

mixin optionBtn({ icon, text })
    button.question-modal__option-btn&attributes(attributes)
        +svgIcon(icon)
        span &nbsp; #{ text }

.base-modal-wrapper#qModal(style="display: none")
    .base-modal(tabindex="0").question-modal
        .question-modal__cover
            .question-modal__header 
                .question-modal__header__title Frage stellen
                button.base-icon-btn.question-modal__close-btn#qModalCloseBtn
                    span.material-icons-round close
            .question-modal__cover__bg-image#qCoverBgImage
            .question-modal__cover__bg-color#qCoverBgColor
            textarea.question-modal__textarea(placeholder="Welche frage möchtest du beantworten?", rows="3")
            .question-modal__selected-themes-wrapper
                +themeChips({ 
                    themes: [
                        { name: '&#43;', target: 'qThemesDropdown' },
                        { name: 'Family', removable: true }, 
                        { name: 'Sport', removable: true },
                        { name: 'Chillout', removable: true }
                    ],
                    withoutLimit: true
                })
        .question-modal__cover-colors#qCoverColors
            button.question-modal__color-btn.question-modal__color-btn--bordered#qColorBtnWhite
                span.material-icons-round done
            each color in ['#fabb4f', '#75d0c4', '#ffcf62', '#9494c5', '#8ba4c6', '#ff7150', '#e57497']
                button.question-modal__color-btn(style=`background-color: ${ color }`)
                    span.material-icons-round notes
        .question-modal__options-wrapper 
            .question-modal__options 
                +optionBtn({ icon: 'book', text: 'Themes' })(data-target="qThemesDropdown")
                include ../../../dropdowns/themes-dropdown/themesDropdown
                +optionBtn({ icon: 'picture', text: 'Titelbild' })(data-target="qUploadCoverBtn")
                include ../../../dropdowns/upload-question-cover/uploadQuestionCover
                +optionBtn({ icon: 'pencil', text: 'Details' })(id="qDetailsBtn")
        .question-modal__bottom-container.q-bottom-container
            include ../../../dropdowns/user-select-dropdown/userSelectDropdown
            .q-bottom-container__actions.q-actions
                +symbolsCounter({ label: 20 })
                +baseButton({ 
                    text      : 'Speichern',
                    withArrow : true,
                    width     : 208,
                    height    : 66
                })(class="q-bottom-container__btn")
