.subscriber-wrapper + .subscriber-wrapper {
    margin-top: 20px;
}

.subscriber {
    position    : relative;
    display     : flex;
    align-items : center;
}

.subscriber__overlapping-link {
    display  : block;
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

.subcriber__avatar {
    display      : flex;
    align-items  : center;
    height       : 40px;
    width        : 40px;
    min-width    : 40px;
    margin-right : 14px;
}

.subscriber__avatar__img {
    width: 100%;
}

.subscriber__info {
    font-size   : 12px;
    font-family : var(--font-montserrat);
    font-weight : 500;
}

.subscriber__info__name {
    color: var(--blue-color);
}

.subscriber__info__subtitle {
    margin-top: 4px;
}

.subscriber__subscribe-btn {
    position    : relative;
    margin-left : auto;
    z-index     : 1;
}
