.footer-wrapper-auth {
    background-color: var(--white-color);
}

.footer-auth {
    background-color: inherit;
}

.footer-auth__top-block.container-1024 {
    position        : relative;
    justify-content : flex-start;
    padding         : 57px 28px 99px;
}

.footer-auth .footer__downloads {
    margin-right: 80px;
}

.footer-auth__logo-wrapper {
    margin-bottom: 60px;
}

.footer-auth__social-icons {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    width           : 225px;
    min-width       : 225px;
    margin-top      : 40px;
    margin-bottom   : 17px;
}

.footer-auth__social-icons__item {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    width            : 35px;
    min-width        : 35px;
    height           : 35px;
    line-height      : 35px;
    border-radius    : 50%;
    border           : 3px solid transparent;
    background-color : var(--blue-color-2);
    transition       : .1s ease-out;
}

.footer-auth__social-icons__item svg {
    fill: var(--white-color);
}

.footer-auth__social-icons__item:hover {
    background-color : var(--white-color);
    border-color     : var(--blue-color-2);
}

.footer-auth__social-icons__item:hover svg {
    fill: var(--blue-color-2);
}

.footer-auth__bottom-block-wrapper {
    height           : 94px;
    width            : 100%;
    border-top       : 1px solid var(--border-color-lightgray);
    background-color : inherit;
}

.footer-auth__bottom-block.container-1024 {
    height           : 100%;
    background-color : inherit;
    align-items      : center;
}

.footer-auth .footer__copyright {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .footer-auth__top-block.container-1024 {
        flex-direction : column;
        padding        : 18px 16px 135px;
    }

    .footer-auth .footer__downloads {
        margin-right: 0;
    }

    .footer-auth__logo-wrapper {
        padding       : 0 4px;
        margin-bottom : 18px;
    }

    .footer-auth__logo-wrapper svg {
        width: 96px; 
    }

    .footer-auth__social-icons {
        margin-top    : 22px;
        margin-bottom : 0;
    }

    .footer-auth .in-column-links-wrapper {
        margin-top   : 24px;
        padding-left : 8px;
    }

    .footer-auth__social-icons,
    .footer-auth .store-links-wrapper {
        position: absolute;
    }

    .footer-auth__social-icons {
        bottom: 100px;
    }

    .footer-auth .store-links-wrapper {
        bottom: 24px;
    }

    .footer-auth__bottom-block-wrapper {
        height: 56px;
    }

    .footer-auth .footer__copyright {
        font-size  : 12px;
        margin-top : 0;
    }
}
