.base-dropdown__input-wrapper {
    margin-bottom: 10px;
}

.base-dropdown {
    border-radius    : 10px;
    box-shadow       : 0 3px 30px rgba(54, 54, 54, .1);
    background-color : var(--white-color);
}

.base-dropdown__input {
    width            : 100%;
    border           : 0;
    border-radius    : 5px;
    background-color : var(--background-color-gray);
    height           : 36px;
    padding          : 0 16px;
    font-family      : var(--font-montserrat);
    font-weight      : 500;
    font-size        : 14px;
    border           : 2px solid transparent;
    outline          : none;
}

.base-dropdown__input:focus {
    border-color: var(--blue-color);
}

.base-dropdown__action {
    color       : var(--blue-color-2);
    text-align  : center;
    padding     : 12px 0;
    font-weight : 600;
    font-family : var(--font-montserrat);
    transition  : color .1s ease-out;
    cursor      : pointer;
}

.base-dropdown__action:hover {
    color: var(--red-color);
}

.base-dropdown__delimiter {
    text-align : center;
    color      : var(--text-gray-2);
}

.base-dropdown__fileupload {
    position   : relative;
    overflow   : hidden;
    text-align : center;
}

.base-dropdown__file-input {
    position  : absolute;
    right     : 0;
    top       : 0;
    opacity   : .001;
    font-size : 200px;
    z-index   : 2;
    cursor    : pointer;
}
