.base-icon-btn {
    position         : absolute;
    height           : var(--btn-size);
    line-height      : var(--btn-size);
    min-width        : var(--btn-size);
    display          : flex;
    align-items      : center;
    justify-content  : center;
    background-color : transparent;
    border           : 0;
    padding          : 0;
    cursor           : pointer;
}
