.base-icon-btn {
	--btn-size: 42px;

	position         : absolute;
	height           : var(--btn-size);
	line-height      : var(--btn-size);
	min-width        : var(--btn-size);
	display          : flex;
	align-items      : center;
	justify-content  : center;
	background-color : transparent;
	border           : 0;
	padding          : 0;
	cursor           : pointer;

	&:before {
		content          : "";
		position         : absolute;
		top              : 0;
		left             : 0;
		right            : 0;
		bottom           : 0;
		border-radius    : var(--btn-size);
		background-color : rgba(32, 35, 51, .07);
		transition       : opacity .1s ease-out;
		opacity          : 0;
	}

	&:hover:before {
		opacity: 1;
	}
}
