include ../../in-column-links/inColumnLinks

.footer-wrapper
    .footer.container-1024
        .footer__top-block
            .footer__downloads
                +baseButton({ 
                    text      : 'Für Unternehmen',
                    withArrow : true,
                    width     : 208
                })
                include ../../buttons/store-links/storeLinks
            .in-column-links-wrapper
                +inColumnLinks('Dein Konto', ['Profil', 'Einstellungen', 'Abmelden'])
                +inColumnLinks('Meinung.de', ['Startseite', 'Alle Themen', 'FAQ', 'Kontakt'])
                +inColumnLinks('Rechtliches', ['AGB', 'Datenschutz', 'Richtlinien', 'Impressum'])
        .footer__socials
            .footer__socials__icons
                a(href="https://www.linkedin.com/", target="_blank")
                    +svgIcon("linkedin")
                a(href="https://www.twitter.com/", target="_blank")
                    +svgIcon("twitter")
                a(href="https://www.facebook.com/", target="_blank")
                    +svgIcon("facebook")
                a(href="https://www.pinterest.com/", target="_blank")
                    +svgIcon("pinterest")
                a(href="https://www.youtube.com/", target="_blank")
                    +svgIcon("youtube")
            .footer__copyright 
                span 2013-2020 — child.de. 
                span All rights reserved
            a(href="#")
                +svgIcon("logo")
        button(type="button").footer__scroll-top-btn#scrollToTop
            span.material-icons-round keyboard_arrow_up
            span Top