include ../../svg-icon/svgIcon

mixin linkToStore(icon, subtitle, title)
    a.links-to-store(href="#")
        +svgIcon(icon)
        .link-to-store__text-wrapper
            .links-to-store__subtitle= subtitle
            .links-to-store__title= title

mixin columnLinks(title, links = [])
    .column-links
        .column-links__title= title
        ul.column-links__container
            each link in links 
                li.column-links__item
                    a.column-links__item__link(href=link.to)= link.text

.footer-wrapper
    .footer.container-1024
        .footer__top-block
            .footer__downloads
                +baseButton({ 
                    text      : 'Für Unternehmen',
                    withArrow : true,
                    width     : 208
                })
                .footer__downloads__store-links
                    +linkToStore('app-store', 'Available on the', 'App Store')
                    +linkToStore('google-play', 'Android App on', 'Google Play')
            .footer__links
                +columnLinks(
                    'Dein Konto', 
                    [{ text: 'Profil', to: '#' }, { text: 'Einstellungen', to: '#' }, { text: 'Abmelden', to: '#' }]
                )
                +columnLinks(
                    'Meinung.de', 
                    [{ text: 'Startseite', to: '#' }, { text: 'Alle Themen', to: '#' }, { text: 'FAQ', to: '#' }, { text: 'Kontakt', to: '#' }]
                )
                +columnLinks(
                    'Rechtliches', 
                    [{ text: 'AGB', to: '#' }, { text: 'Datenschutz', to: '#' }, { text: 'Richtlinien', to: '#' }, { text: 'Impressum', to: '#' }]
                )
        .footer__socials
            .footer__socials__icons
                a(href="https://www.linkedin.com/", target="_blank")
                    +svgIcon("linkedin")
                a(href="https://www.twitter.com/", target="_blank")
                    +svgIcon("twitter")
                a(href="https://www.facebook.com/", target="_blank")
                    +svgIcon("facebook")
                a(href="https://www.pinterest.com/", target="_blank")
                    +svgIcon("pinterest")
                a(href="https://www.youtube.com/", target="_blank")
                    +svgIcon("youtube")
            .footer__copyright 
                span 2013-2020 — child.de. 
                span All rights reserved
            a(href="#")
                +svgIcon("logo")
        button(type="button").footer__scroll-top-btn#scrollToTop
            span.material-icons-round keyboard_arrow_up
            span Top