.footer {
    position : relative;
    padding  : 96px 20px 114px;
}

.footer__top-block {
    display         : flex;
    justify-content : space-between;
}

.footer__downloads {
    display        : flex;
    flex-direction : column;
    flex           : 0 0 auto;
    margin-right   : 200px;
}

.footer__socials {
    align-items : center;
    margin-top  : 130px;
}

.footer__socials__icons {
    justify-content : space-between;
    width           : 300px;
    margin-bottom   : 32px;
}

.footer__copyright {
    font-size     : 14px;
    margin-bottom : 32px;
}

.footer__scroll-top-btn {
    position         : absolute;
    left             : 63px;
    top              : 385px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    flex-direction   : column;
    width            : 61px;
    height           : 61px;
    border           : 0;
    border-radius    : 12px;
    font-family      : var(--font-montserrat);
    font-size        : 14px;
    font-weight      : 700;
    background-color : var(--background-color-gray-2);
    cursor           : pointer;
}

.footer__scroll-top-btn .material-icons-round {
    font-size   : 18px;
    font-weight : 700;
}

@media (max-width: 1279px) {
    .footer__downloads {
        margin-right: 130px;
    }
}
