.cookies-warning
    span.cookies-warning__content We use cookies to ensure you get the best experience on our site. 
        a.cookies-warning__details-link(href="#") More details
    button.cookies-warning__button Got it