.answer-suggestion-card-wrapper {
  margin-top    : 24px;
  margin-bottom : 48px;
}

.answer-suggestion-card {
  display          : flex;
  align-items      : center;
  justify-content  : center;
  flex-direction   : column;
  border-radius    : 20px;
  padding          : 48px 24px 40px;
  background-color : #ffe3c7;
}

.answer-suggestion-card__image {
  display     : flex;
  align-items : center;
  width       : 50px;

  img {
    width: 100%;
  }
}

.answer-suggestion-card__title {
  margin-top : 24px;
  text-align : center;
}

.answer-suggestion-card__subtitle {
  line-height   : 26px;
  font-weight   : 600;
  margin-bottom : 32px;
  text-align    : center;
}

.answer-suggestion-card__button {
  width       : 264px;
  height      : 50px;
  line-height : 50px;
}
