nav.leftMainMenu
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/feed_icon.svg')
    a.linkWithIcon__link(href='#') Feed
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/profile_icon.svg')
    a.linkWithIcon__link(href='#') Profil
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/neu_icon.svg')
    a.linkWithIcon__link(href='#') Neu
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/anworten_icon.svg')
    a.linkWithIcon__link(href='#') Anworten
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/top_icon.svg')
    a.linkWithIcon__link(href='#') Top
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/themen_icon.svg')
    a.linkWithIcon__link(href='#') Themen
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/bewertung_icon.svg')
    a.linkWithIcon__link(href='#') Bewertung
  .linkWithIcon.leftMainMenu__item
    img.linkWithIcon__icon(src='./images/community_icon.svg')
    a.linkWithIcon__link(href='#') Community
  a.leftMainMenu__button(href='#') Frage stellen
