include ../mixins/personage

.personagesWithAdvices
  +personage(
    'personagesWithAdvices__item personage--1',
    'Nur so sind alle Erfahrungen, Meinungen und Antworten',
    'Technological competition startups. Provides IT industry promising technologies.',
    './images/green_personage.png',
    'Deine Meinung zu…?')
  +personage(
    'personagesWithAdvices__item personage--2',
    'Nur so sind alle Erfahrungen, \n' +
    'Meinungen und Antworten ',
    'Technological competition startups. Provides IT industry promising  te…',
    './images/blue_personage.png',
    'Deine Frage')
  +personage(
    'personagesWithAdvices__item personage--3',
    'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
    'Technological competition startups.  Provides IT industry promising  technologies.',
    './images/yellow_personage.png',
    'Deine Frage')
