.scroll-top-button {
	position         : absolute;
	left             : 63px;
	top              : 385px;
	display          : flex;
	align-items      : center;
	justify-content  : center;
	flex-direction   : column;
	width            : 61px;
	height           : 61px;
	border           : 0;
	border-radius    : 12px;
	font-family      : var(--font-montserrat);
	font-size        : 14px;
	font-weight      : 700;
	background-color : var(--background-color-gray-2);
	cursor           : pointer;

	.scroll-top-button__arrow-icon {
		font-size        : 18px;
		font-weight      : 700;
		will-change      : transform;
		transform-origin : center center;

		&--top {
			transform        : translateY(.5rem) scaleX(1);
			transition       : transform .45s cubic-bezier(.23, 1, .32, 1);
			transition-delay : .4s;
		}
		
		&--bottom {
			transform  : translateY(1rem) scaleX(0);
			transition : transform .4s cubic-bezier(.755, .05, .855, .06);
		}
	}

	.scroll-top-button__content {
		bottom           : 1.2rem;
		left             : 50%;
		margin-bottom    : 0;
		transform        : translateY(.5rem);
		transition       : transform .5s cubic-bezier(.645,.045,.355,1);
		transition-delay : .2s;
		will-change      : transform;
	}
	
	&:hover .scroll-top-button__content  {
		transform        : translateY(-.5rem);
		transition       : transform .45s cubic-bezier(.645,.045,.355,1);
		transition-delay : .2s;
	}
	
	&:hover .scroll-top-button__arrow-icon--top {
		transform  : translateY(-1rem) scaleX(0);
		transition : transform .4s cubic-bezier(.755,.05,.855,.06);
	}
	
	&:hover .scroll-top-button__arrow-icon--bottom {
		transform        : translateY(-.25rem) scaleX(1);
		transition       : transform .45s cubic-bezier(.23,1,.32,1);
		transition-delay : .4s;
	}
}
