button(type="button").scroll-top-button#scrollToTop
  span.scroll-top-button__arrow-icon.scroll-top-button__arrow-icon--top.material-icons-round keyboard_arrow_up
  span.scroll-top-button__content Top
  span.scroll-top-button__arrow-icon.scroll-top-button__arrow-icon--bottom.material-icons-round keyboard_arrow_up
