.profile-avatar-modal {
    position  : relative;
    width     : 665px;
    min-width : 665px;
}

.profile-avatar-modal__header {
    padding    : 42px 24px 0;
    text-align : center;
}

.profile-avatar-modal__close-btn {
    top   : 20px;
    right : 12px;
}

.profile-avatar-modal__close-btn .material-icons-round {
    color: var(--text-gray-3);
}

.profile-avatar-modal__close-btn:hover .material-icons-round {
    color: var(--text-black-2);
}

.profile-avatar-modal__image-uploader {
    padding-top    : 24px;
    padding-bottom : 48px;
}

.avatar-image-uploader__current-avatar {
    position         : relative;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    width            : 180px;
    min-width        : 180px;
    height           : 180px;
    border-radius    : 65px;
    margin           : 0 auto;
    background-color : var(--background-color-gray);
}

.avatar-image-uploader__upload-btn {
    position         : absolute;
    bottom           : -26px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    width            : 44px;
    min-width        : 44px;
    height           : 44px;
    border-radius    : 50%;
    padding          : 0;
    margin           : 0;
    border           : 0;
    cursor           : pointer;
    user-select      : none;
    background-color : var(--text-blue-2);
}

.profile-avatar-modal__form {
    padding: 16px 57px 72px;
}

.profile-avatar-modal__input-wrapper {
    position    : relative;
    display     : flex;
    align-items : center;
}

.profile-avatar-modal__input__clear-icon {
    position  : absolute;
    right     : 16px;
    font-size : 26px;
    color     : var(--text-blue-2);
    cursor    : pointer;
}

.profile-avatar-modal__input__clear-icon:hover {
    color: var(--text-blue);
}

.profile-avatar-modal__input {
    height           : 66px;
    line-height      : 66px;
    width            : 100%;
    border           : 2px solid transparent;
    background-color : var(--background-color-gray);
    font-family      : var(--font-open-sans);
    font-size        : 16px;
    font-weight      : 600;
    outline          : none;
    padding          : 4px 48px 4px 16px;
    transition       : border-color .1s ease-out;
}

.profile-avatar-modal__input-wrapper--error .profile-avatar-modal__input {
    border-color: var(--red-color);
}

.profile-avatar-modal__input:focus {
    border-color: var(--text-blue);
}

.profile-avatar-modal__input-error-message {
    display     : none;
    color       : var(--red-color);
    font-size   : 14px;
    font-weight : 700;
    margin-top  : 6px;
    margin-left : 2px;
}

.profile-avatar-modal__input-wrapper--error + .profile-avatar-modal__input-error-message {
    display: inline-block;
}

.profile-avatar-modal__save-btn-wrapper {
    margin-top: 55px;
}

.profile-avatar-modal__save-btn.base-btn {
    width         : 208px;
    margin        : 0 auto;
    height        : 66px;
    line-height   : 66px;
    border-radius : 33px;
    font-size     : 18px;
}
