.login-form-wrapper {
    display       : flex;
    width         : 1235px;
    height        : 736px;
    margin-bottom : 255px;
}

.login-form__picture-wrapper {
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 65px 0 77px;
    flex            : 0 0 50%;
    border-radius   : 10px 0 0 10px;
    background      : radial-gradient(#ffec9f, #ffd842) no-repeat;
}

.auth-form--login {
    flex          : 0 0 50%;
    border-radius : 0 10px 10px 0;
}

@media (max-width: 1279px) {
	.login-form-wrapper {
		width: 1000px;
    }
    
    .login-form__picture-wrapper img {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .login-form-wrapper {
        width         : 100%;
        height        : auto;
        margin-bottom : 0;
    }

    .login-form__picture-wrapper {
        display: none;
    }

    .auth-form--login {
        flex          : 1 1 100%;
        border-radius : 10px;
        width         : 100%;
    }
}
