include ../../buttons/base-button/baseButton
include ../../svg-icon/svgIcon

nav.nav-menu
	div
		.nav-menu__item.nav-item.nav-item--selected
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('newspaper')
				span Feed
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('user')
				span Profil
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('compass')
				span Neu
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('edit')
				span Antworten
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('trophy')
				span Top
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('themen')
				span Themen
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('surface')
				span Bewertung
		.nav-menu__item.nav-item
			a.nav-item__link(href="#")
				.nav-item__icon
					+svgIcon('teamwork')
				span Community
		+baseButton({ 
			text      : 'Frage stellen',
			bgColor   : 'var(--background-color-black)',
			color     : 'var(--text-white)',
			width     : 171
		})(class="nav-menu__button", data-target="qModal")
		button.nav-menu__button.nav-menu__button--tablet(data-target="qModal")
			span.material-icons help_outline
