.linkWithIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkWithIcon__icon {
  margin-right: 15px;
}

.linkWithIcon__link {
  color: var(--text-black);
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
