:root {
	--red-color    : #e45b60;
	--orange-color : #f7ae3b;
	--green-color  : #8cc761;
	--purple-color : #a461c7;

	--background-color-pink       : #ffb3bf;
	--background-color-white      : #ffffff;
	--background-color-black      : #282a2d;
	--background-color-personage1 : #faf4dc;
	--background-color-personage2 : #cfe8fa;
	--background-color-personage3 : #c5f0ed;
	--background-color-gray       : #f1f4f6;
	--background-color-gray-2     : #f2f7f7;
	--background-color-gray-3     : #eaeaea;

	--border-color-lightblue : #f3f7f8;
	--border-color-lightgray : #e9ecef;

	--box-shadow-gray:rgba(54, 54, 54, .1);

	--font-open-sans  : 'Open Sans',  sans-serif;
	--font-montserrat : 'Montserrat', sans-serif;

	--text-black   : #282a2d;
	--text-black-2 : #333333;
	--text-white   : #ffffff;
	--text-blue    : #54a1c9;
	--text-blue-2  : #3e8fad;
	--text-gray    : #d1d8de;
}
