.question-card-button {
    font-size : 12px;
    padding   : 0;
}

.question-card-button + .question-card-button {
    margin-left: 16px;
}

.question-card-button .question-card-button__icon {
    font-size   : 16px;
    display     : flex;
    align-items : center;
}

.question-card-button .question-card-button__icon svg {
    width: 20px;
}

.question-card-button .question-card-button__icon svg.answer {
    width: 14px;
}

.question-card-button .question-card-button__icon:not(:only-child) {
    margin-right: 6px;
}
