include ../../buttons/base-button/baseButton
include ../../svg-icon/svgIcon

mixin navItem({ icon, title })
	.left-nav-menu__item.left-nav-item&attributes(attributes)
		a.left-nav-item__link(href="#")
			.left-nav-item__icon
				+svgIcon(icon)
			span= title

nav.left-nav-menu
	div
		+navItem({ icon: 'newspaper', title: 'Feed' })(class="left-nav-item--selected")
		+navItem({ icon: 'user', title: 'Profil' })
		+navItem({ icon: 'compass', title: 'Neu' })
		+navItem({ icon: 'edit', title: 'Antworten' })
		+navItem({ icon: 'trophy', title: 'Top' }) 
		+navItem({ icon: 'themen', title: 'Themen' })
		+navItem({ icon: 'surface', title: 'Bewertung' })
		+navItem({ icon: 'teamwork', title: 'Community' })
		+baseButton({ 
			text      : 'Frage stellen',
			bgColor   : 'var(--background-color-black)',
			color     : 'var(--text-white)'
		})(class="left-nav-menu__button", data-target="qModal")
		button.left-nav-menu__button.left-nav-menu__button--tablet(data-target="qModal")
			span.material-icons help_outline
