.left-nav-menu__item {
	height      : 44px;
	user-select : none;
}

.left-nav-menu__item + .left-nav-menu__item {
  	margin-top: 2px;
}

.left-nav-item {
	position: relative;
}

.left-nav-item:before {
	position         : absolute;
	content          : "";
	top              : 0;
	bottom           : 0;
	left             : -6px;
	right            : -6px;
	border-radius    : 25px;
	opacity          : 0;
	background-color : var(--background-color-gray);
	transition       : opacity .1s ease-out;
}

.left-nav-item:hover:before,
.left-nav-item--selected:before {
	opacity: 1;
}

.left-nav-item__icon {
	position        : relative;
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : 32px;
}

.left-nav-item__link {
	position        : relative;
	display         : flex;
	align-items     : center;
	height          : 100%;
	font-weight     : 600;
	padding         : 0 8px;
	text-decoration : none;
	color           : var(--text-black);
	transition      : transform .1s ease-out;
}

.left-nav-item__link:focus {
	outline: none;
}

.left-nav-item__link:active {
	transform : scale(.96);
}

.left-nav-item__link span {
	margin-left: 8px;
}

.left-nav-menu__button {
	width       : 171px;
	height      : 50px;
	line-height : 50px;
	margin-top  : 30px;
}

.left-nav-menu__button--tablet {
	display          : none;
	border           : 0;
	padding          : 0;
	border-radius    : 44px;
	width            : 44px;
	height           : 44px;
	min-width        : 44px;
	line-height      : 44px;
	cursor           : pointer;
	background-color : var(--background-color-black);
}

.left-nav-menu__button--tablet .material-icons {
	line-height : inherit;
	color       : var(--text-white);
}

@media (max-width: 1279px) {
	.left-nav-item__link span {
		display: none;
	}

	.left-nav-item:before {
		left  : 0;
		right : 0;
	}

	.left-nav-menu__button.base-btn {
		display: none;
	}

	.left-nav-menu__button--tablet {
		display: block;
	}
}

