.answer-modal-container {
    position: relative;
}

.answer-modal__header-wrapper {
    padding: 25px 32px 0;
}

.answer-modal__header {
    display       : flex;
    align-items   : center;
    width         : calc(100% - 12px);
}

.answer-modal__header__title {
    font-weight: 600;
}

.answer-modal__close-btn {
    top   : 14px;
    right : 12px;
}

.answer-modal__textarea {
    position         : relative;
    font-size        : 14px;
    font-family      : var(--font-open-sans);
    background-color : transparent;
    line-height      : 22px;
    border           : 0;
    width            : 100%;
    resize           : none;
    outline          : none;
    overflow         : hidden !important;
}

.answer-modal__bottom-container {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.base-btn.answer-modal__answer-button--disabled {
    color            : var(--text-black-2) !important;
    background-color : var(--background-color-gray) !important;
    pointer-events   : none;
}
