.bottom-sheet__update-profile#bsUpdateProfile(style="display: none")
    .update-profile-menu.base-dropdown
        .update-profile-menu__content
            +updateProfileMenuItem({ icon: 'user-with-bg', text: 'Profilbild und Profilname 채ndern' })(data-target="profileAvatarModal")
            +updateProfileMenuItem({ icon: 'profile-cover', text: 'Titelbild 채ndern' })
            +updateProfileMenuItem({ icon: 'brush', text: 'Informationen hinzuf체gen oder 채ndern' })(data-target="profileInformationModal")
    button.qc-menu__button(data-target="closeBottomSheet") Close
