mixin accountWidgetItem(iconName, title)
    a.account-widget__item
        .account-widget__item__icon
            img(src=`./assets/icons/${ iconName }.svg`)
        span= title

.account-widget#accountDropdown
    +accountWidgetItem('profile_icon_small', 'Profil')
    +accountWidgetItem('message_icon', 'Nachrichten')
    +accountWidgetItem('bookmark_icon', 'Lesezeichen')
    +accountWidgetItem('question_icon', 'Hilfe')
    +accountWidgetItem('settings_icon', 'Einstellungen')
    +accountWidgetItem('exit_icon', 'Abmelden')