mixin accountWidgetItem(icon_path, title)
    a.account-widget__item
        .account-widget__item__icon
            img(src=icon_path)
        span= title

.account-widget#accountDropdown
    +accountWidgetItem('./assets/icons/profile_icon_small.svg', 'Profil')
    +accountWidgetItem('./assets/icons/message_icon.svg', 'Nachrichten')
    +accountWidgetItem('./assets/icons/bookmark_icon.svg', 'Lesezeichen')
    +accountWidgetItem('./assets/icons/question_icon.svg', 'Hilfe')
    +accountWidgetItem('./assets/icons/settings_icon.svg', 'Einstellungen')
    +accountWidgetItem('./assets/icons/exit_icon.svg', 'Abmelden')