include ../mixins/baseBtn

mixin colorChoiceBtn({ color, icon, isWhite })
    button.question-modal__color-btn(
        style = `background-color: ${ color }`, 
        class = isWhite ? 'question-modal__color-btn--bordered' : '',
        id = isWhite ? 'qColorBtnWhite' : null
    )
        img(src=`${ icon }.svg`)

mixin optionBtn({ icon, text })
    button.question-modal__option-btn&attributes(attributes)
        img(src=`${ icon }.svg`)
        span &nbsp; #{ text }

.question-modal-wrapper
    .question-modal#qModal
        .question-modal__cover
            .question-modal__header 
                .question-modal__header__title Frage stellen
                button.base-icon-btn.question-modal__close-btn
                    img(src="close.svg")
            .question-modal__cover__bg-image#qCoverBgImage
            .question-modal__cover__bg-color#qCoverBgColor
            textarea.question-modal__textarea(placeholder="Welche frage möchtest du beantworten?", rows="3")
        .question-modal__cover-colors#qCoverColors
            +colorChoiceBtn({ color: '#ffffff', icon: 'check_black', isWhite: true })
            +colorChoiceBtn({ color: '#fabb4f', icon: 'list_white' })
            +colorChoiceBtn({ color: '#75d0c4', icon: 'list_white' })
            +colorChoiceBtn({ color: '#ffcf62', icon: 'list_white' })
            +colorChoiceBtn({ color: '#9494c5', icon: 'list_white' })
            +colorChoiceBtn({ color: '#8ba4c6', icon: 'list_white' })
            +colorChoiceBtn({ color: '#ff7150', icon: 'list_white' })
            +colorChoiceBtn({ color: '#e57497', icon: 'list_white' })
        .question-modal__options-wrapper 
            .question-modal__options 
                +optionBtn({ icon: 'book', text: 'Themes' })(id="qThemesBtn")
                +optionBtn({ icon: 'picture', text: 'Titelbild' })(id="qCoverImageBtn")
                +optionBtn({ icon: 'pencil', text: 'Details' })(id="qDetailsBtn")
        .question-modal__bottom-container.q-bottom-container
            .q-bottom-container__user-select.q-user-select
                .q-user-select__selected#qUserSelectActivator
                    .q-user-select__avatar
                        img(src="./assets/images/question-vote-avatar.png")
                    span.q-user-select__name Philip Djones
                    .q-user-select__icon 
                        img(src="select_arrow_down.svg")
            +baseBtn({ 
                text      : 'Speichern',
                withArrow : true,
                width     : 208,
                height    : 66,
                bgColor   : 'var(--red-color)',
                color     : 'var(--text-white)',
                iconType  : 'white'
            })(class="q-bottom-container__btn")


