.ask-question-wrapper 
    input.ask-question-wrapper__input(type="text", placeholder="Enter your question")
    button.ask-question-wrapper__button(type="button") 
        span Shreiben
        img.ask-question-wrapper__button__icon(src="./images/right_arrow.svg")