include ../mixins/baseBtn

.ask-question-wrapper 
    input.ask-question-wrapper__input(type="text", placeholder="Enter your question")
    +baseBtn({ 
        text      : 'Shreiben',
        withArrow : true
    })