include ../mixins/baseBtn
include ../mixins/svgIcon

nav.leftMainMenu
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('newspaper')
			span Feed
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('user')
			span Profil
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('compass')
			span Neu
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('edit')
			span Anworten
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('trophy')
			span Top
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('themen')
			span Themen
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('surface')
			span Bewertung
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				+svgIcon('teamwork')
			span Community
	+baseBtn({ 
		text      : 'Frage stellen',
		bgColor   : 'var(--background-color-black)',
		color     : 'var(--text-white)',
		width     : 171
	})(class="leftMainMenu__button")
