include ../mixins/baseBtn

nav.leftMainMenu
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='feed_icon.svg')
			span Feed
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='profile_icon.svg')
			span Profil
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='neu_icon.svg')
			span Neu
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='anworten_icon.svg')
			span Anworten
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='top_icon.svg')
			span Top
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='themen_icon.svg')
			span Themen
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='bewertung_icon.svg')
			span Bewertung
	.linkWithIcon.leftMainMenu__item
		a.linkWithIcon__link(href="#")
			.linkWithIcon__icon
				img(src='community_icon.svg')
			span Community
	+baseBtn({ 
		text      : 'Frage stellen',
		bgColor   : 'var(--background-color-black)',
		color     : 'var(--text-white)',
		width     : 171
	})(class="leftMainMenu__button")
