.opinion-card
    .opinion-card__content.card-content
        .card-content__title We want to know what you think about all this
        .card-content__text 
            | Technological competition startups. Provides 
            br
            |IT industry promising technologies.
        button.card-content__action-btn(type="button") Learn opinion
    img.opinion-card__img(srcset="./images/books_personage.png 1x, ./images/books_personage@2x.png 2x")