mixin personage(title, content, image_url, button_text)
	li.personage.personagesWithAdvices__item
		img.personage__image(src=image_url)
		.personage__container
			.personage__title= title
			.personage__content= content
			button.personage__button(type="button")= button_text

ul.personagesWithAdvices
	+personage(
		'Nur so sind alle Erfahrungen, Meinungen und Antworten',
		'Technological competition startups. Provides IT industry promising technologies.',
		'./images/green_personage.png',
		'Deine Meinung zu…?')
	+personage(
		'Nur so sind alle Erfahrungen, \n' +
		'Meinungen und Antworten ',
		'Technological competition startups. Provides IT industry promising  te…',
		'./images/blue_personage.png',
		'Deine Frage')
	+personage(
		'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
		'Technological competition startups.  Provides IT industry promising  technologies.',
		'./images/yellow_personage.png',
		'Deine Frage')
