include ../mixins/baseBtn

.have-question-wrapper
    .have-question-container 
        .have-question__title Du hast eine Frage?
        +baseBtn({ 
            text      : 'Frage stellen',
            withArrow : true,
            bgColor   : 'var(--background-color-white)',
            color     : 'var(--text-black-2)'
        })