include ../mixins/swiperCard.pug

.questions-slider-wrapper#questionsSlider
	.base-swiper
		.swiper-container
			.swiper-wrapper
				+swiperCard({
					title      : 'Nur so sind alle Erfahrungen, Meinungen und Antworten',
					content    : 'Technological competition startups. Provides IT industry promising technologies.',
					buttonText : 'Deine Meinung zu…?'
				})
				+swiperCard({
					title      : 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
					content    : 'Technological competition startups. Provides IT industry promising  te…',
					buttonText : 'Deine Frage'
				})
				+swiperCard({
					title      : 'Nur so sind alle Erfahrungen,  Meinungen und Antworten ',
					content    : 'Technological competition startups.  Provides IT industry promising  technologies.',
					buttonText : 'Deine Frage'
				})

		.base-swiper-button.swiper-button-next
			img(src="./assets/icons/right_arrow_black.svg")
		.base-swiper__right-shadow

		.base-swiper-button.swiper-button-prev
			img(src="./assets/icons/right_arrow_black.svg")
		.base-swiper__left-shadow
		
