include ../mixins/svgIcon

#qBottomDropdown.question-card__dropdown.question-dropdown.question-dropdown--bottom(style='display: none')
	.question-dropdown-wrapper
		a.question-dropdown__item
			.question-dropdown__item__icon
				+svgIcon('share')
			span Teilen
		a.question-dropdown__item
			.question-dropdown__item__icon
				+svgIcon('warning')
			span Melden