.sponsorWidget
  .sponsorWidget__head
    .sponsorWidget__companyTitle
      | Uniliver group
      br
      | of company
    img(srcset="./assets/images/unilever.png 1x, ./assets/images/unilever@2x.png 2x")
  .sponsorWidget__text Cloud provider. It supports us in all endeavors, but often draws us into adventures.
  .sponsorWidget__becomeASponsons How to become a sponsor?
