include ../mixins/questionCard
include ../mixins/questionCardWithVote

- 
	let fullDesc = `
		<p> Introvertierte Menschen sind eher verschlossen, scheu und zurückhaltend im Umgang mit anderen Menschen. Sie halten sich in Gegenwart anderer eher im Hintergrund. Extrovertierte Menschen blühen auf, wenn sie mit anderen Menschen zusammen sind. Sie sind gesellig, kontaktfreudig, sozial aktiv und sehr kommunikativ. </p>
		<p> Introversion und Extraversion sind eine angeborene Veranlagung, auf die allerdings das soziale Umfeld, die Erziehung sowie prägende Erlebnisse weiter Einfluss nehmen können. Das heißt, Sie kommen bereits introvertiert, zentrovertiert oder extrovertiert auf die Welt. </p>
		<p> Die Entwicklung in die eine oder andere Richtung kann beispielsweise durch die Erziehung weiter ausgeprägt werden. </p>
		<p> Aber aus einem introvertierten wird niemals ein extrovertierter Mensch, und umgekehrt. </p>
		<p> Beide können sich zwar in einer bestimmten Situation gegensätzlich verhalten, aber in ihrer Wesensart werden sie sich nicht ändern. </p>
	`;

	let shortDesc = `
		Der Eimer sollte aus weichem Kunststoff bestehen. 
		Wählen Sie die Größe des Eimers auf der Grundlage der Größe des Hundes. 
		Einem durchschnittlichen Hund passt etwa ein 5 Liter Eimer. 
		Nehmen Sie die Tiefe so auf, dass der Bug des Hundes um 1/3 herau ...
	`;

	let username = 'Philip Djones';
	let time     = 'yesterday at 12:20';
	let chips    = [{ text: 'Real estate', link: '#' }, { text: 'Career', link: '#' }];

.threeColumnContainer
	.threeColumnContainer__left
		include ./leftMainMenu
	.threeColumnContainer__center
		.title--pageTitle
			| Nur so sind alle Erfahrungen,
			br
			| Meinungen und Antworten zuganglich.
		include ./personages
		include ./askQuestion
		include ./dateFilter
		include ./opinionCard
		+questionCard({ 
			avatar     : 'question-0-avatar.png',
			title      : 'Reverse engineering of a binary format <br> on the example of Korg.',
			interested : true,
			username,
			time,
			chips,
			shortDesc,
			fullDesc
		})
		include ./questionsSlider
		+questionCard({ 
			overlay   : 'var(--red-color)',
			bgImage   : 'question-1-image.png',
			avatar    : 'question-1-avatar.png',
			withLabel : true,
			title     : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?',
			username,
			time,
			chips,
			shortDesc,
			fullDesc
		})
		+questionCard({ 
			overlay : 'var(--orange-color)',
			bgImage : 'question-2-image.png',
			avatar  : 'question-2-avatar.png',
			title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?',
			username,
			time,
			chips,
			shortDesc,
			fullDesc
		})
		+questionCard({ 
			overlay : 'var(--green-color)',
			bgImage : 'question-3-image.png',
			avatar  : 'question-3-avatar.png',
			title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?',
			username,
			time,
			chips,
			shortDesc,
			fullDesc
		})
		+questionCard({ 
			overlay : 'var(--purple-color)',
			bgImage : 'question-4-image.png',
			avatar  : 'question-4-avatar.png',
			title   : 'Wie macht man aus einem Eimer <br> ein Hundehalsband?',
			username,
			time,
			chips,
			shortDesc,
			fullDesc
		})
		+questionCardWithVote({
			avatar        : 'question-vote-avatar.png',
			title         : 'Which movie do you like more?',
			subtitle      : 'Please vote below',
			votingOptions : [
				{ name: 'Das Boot', power: 75, bgColor: '#fabb4f' },
				{ name: 'Aquaman', power: 45, bgColor: '#75d0c4' },
				{ name: 'The house that Jack has built', power: 55, bgColor: '#e57497' },
				{ name: 'Brothers sisters', power: 45, bgColor: '#ffcf62' }
			],
			username,
			time,
			chips
		})
	.threeColumnContainer__right
		.widgetsList
			.widgetsList__block
				include ./comments
			.widgetsList__block
				include ./sponsor
			.widgetsList__block
				include ./popular_themes
			.widgetsList__block
				include ./best_company
			.widgetsList__block
				include ./we_are_read
