include ../mixins/questionCard.pug

.threeColumnContainer
	.threeColumnContainer__left
		include ./leftMainMenu
	.threeColumnContainer__center
		.title--pageTitle
			| Nur so sind alle Erfahrungen,
			br
			| Meinungen und Antworten zuganglich.
		include ./personages
		include ./askQuestion
		include ./dateFilter
		include ./opinionCard
		+questionCard('var(--red-color)', 'question-1-image.png', 'question-1-avatar.png')
		+questionCard('var(--orange-color)', 'question-2-image.png', 'question-2-avatar.png')
		+questionCard('var(--green-color)', 'question-3-image.png', 'question-3-avatar.png')
		+questionCard('var(--purple-color)', 'question-4-image.png', 'question-4-avatar.png')
	.threeColumnContainer__right
		.widgetsList
			.widgetsList__block
				include ./comments
			.widgetsList__block
				include ./sponsor
			.widgetsList__block
				include ./popular_themes
			.widgetsList__block
				include ./best_company
			.widgetsList__block
				include ./we_are_read
