.topNavigation
	.topNavigation__container
		img(srcset="./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x")

		.searchBar.topNavigation__searchBar
			input.searchBar__input(placeholder='Search')
			img.searchBar__searchIcon(src="search_icon.svg")

		.topNavigationRightBlock.topNavigation__right
			.topNavigationRightBlock__item
				img(src='new_notifications_icon.svg')
			.topNavigationRightBlock__item#userImage
				img(srcset="./assets/images/avatar.png 1x, ./assets/images/avatar@2x.png 2x")
			include ./accountWidget
