.topNavigation
	.topNavigation__container
		img(srcset="./images/logo.png 1x, ./images/logo@2x.png 2x")

		.searchBar.topNavigation__searchBar
			input.searchBar__input(placeholder='Search')
			img.searchBar__searchIcon(src="./images/search_icon.svg")

		.topNavigationRightBlock.topNavigation__right
			a.topNavigationRightBlock__item(href='#')
				img(src='./images/new_notifications_icon.svg')
			a.topNavigationRightBlock__item(href='#')
				img(srcset="./images/avatar.png 1x, ./images/avatar@2x.png 2x")
			include ./accountWidget
