mixin weAreReadWidget(text)
  .weAreReadWidget
    .weAreReadWidget__text= text
    .commentsCount
      .commentsCount__icon
        img(src="comments_icon.svg")
      .commentsCount__text.weAreReadWidget__commentsCount 345

.widget.bestCompaniesWidget
  .widget__title We are read

  .widget__content
    +weAreReadWidget('Technological competition startups. Provides IT industry promising technologies.')
    +weAreReadWidget('Cloud provider. It supports us in all endeavors, but often draws us into adventures.')
    +weAreReadWidget('Optimization for newbies: html tags and attributes in SEO')
