@media (max-width: 600px) {
	.search-bar {
		width  : 100%;
		height : 36px;

		&--visible {
			display: block;
		}
	}

	.search-bar__input {
		font-size        : 12px;
		padding          : 0 42px 0 20px;
		border-radius    : 25px;
		background-color : var(--background-color-gray);
		outline          : none;

		&:focus,
		&:active {
			background-color: var(--background-color-gray-3);
		}
	}

	.search-bar__icon {
		right: 14px;

		.material-icons-round {
			font-size: 22px;
		}

		&--search {
			display: none;
		}

		&:not(.search-bar__icon--search) {
			display: flex;
		}
	}
}
