@media (max-width: 600px) {
	.search-bar--visible {
		display: block;
	}
	
	.search-bar {
		width  : 100%;
		height : 36px;
	}

	.search-bar__input {
		font-size        : 12px;
		padding          : 0 42px 0 20px;
		border-radius    : 25px;
		background-color : var(--background-color-gray);
		outline          : none;
	}

	.search-bar__input:focus,
	.search-bar__input:active {
		background-color: var(--background-color-gray-3);
	}

	.search-bar__icon {
		right: 14px;
	}

	.search-bar__icon:not(.search-bar__icon--search) {
		display: flex;
	}
	
	.search-bar__icon--search {
		display: none;
	}

	.search-bar__icon .material-icons-round {
		font-size: 22px;
	}
}
