.search-bar
    input.search-bar__input(type="text", placeholder='Search')
    button.search-bar__icon.search-bar__icon--search(aria-label="Search", type="button")
        +svgIcon('search')
    button.search-bar__icon(aria-label="Close", type="button")
        span.material-icons-round close
