.search-bar
    input.search-bar__input(type="text", placeholder='Search')
    button.search-bar__icon.search-bar__icon--search
        +svgIcon('search')
    .search-bar__icon
        span.material-icons-round close
