doctype html
html
	head
		link(rel="stylesheet", href="./css/index.css")
		block title
			title Default title
	body
		.cookiesWarning
			| We use cookies to ensure you get the best experience on our site. 
			span.cookiesWarning__detailsLink More details
			button.cookiesWarning__button Got it
		block content
