doctype html
html
	head
		link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
		link(rel="stylesheet", href="./css/index.css")
		block title
			title Default title
	body
		.cookiesWarning
			| We use cookies to ensure you get the best experience on our site. 
			span.cookiesWarning__detailsLink More details
			button.cookiesWarning__button Got it
		block content

		script(src="https://unpkg.com/swiper/js/swiper.min.js")
		script(src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js")
		script(src="./js/app.min.js")
