include ../../buttons/base-button/baseButton

section.profile-header-wrapper
    .profile-header
        .profile-header__cover
            .profile-header__cover__bg-color
            .profile-header__cover__bg-image
            .profile-header__avatar
                img.profile-header__avatar__img(src="./assets/images/profile-avatar.png", alt="Philip Djones")
        .profile-header__info
            a.profile-header__info__username(href="javascript:void(0)", data-target="profileAvatarModal") Philip Djones
                span.material-icons-round create
            .profile-header__info__registry-date Mitglied seit März 2019
            .profile-header__info__action-btns.profile-action-btns
                +baseButton({ text: 'Profil bearbeiten' })(class="profile-action-btns__update-profile", data-target="updateProfileMenu")
                include ../update-profile-menu/updateProfileMenu
                
                +baseButton({ 
                    text    : 'Themen abonnieren',
                    bgColor : 'var(--background-color-gray)',
                    color   : 'var(--text-black-2)'
                })(class="profile-action-btns__themes-subscribe")
