.bottom-sheet__other-profile-menu#bsOtherProfileMenu(style="display: none")
    include ../../profile/other-profile-menu/otherProfileMenu
    button.qc-menu__button(data-target="closeBottomSheet") Close
