include ../buttons/base-button/baseButton

.opinion-card-wrapper
    .opinion-card
        h3.opinion-card__title We want to know what you think about all this
        img.opinion-card__img(src="./assets/images/books_personage.png")
        .card-content__text Technological competition startups. Provides IT industry promising technologies.
        +baseButton({  text: 'Learn opinion', bgColor: 'var(--blue-color)', color: 'var(--white-color)' })(class="opinion-card__button")
