.opinion-card {
    display          : flex;
    justify-content  : space-between;
    background-color : var(--background-color-gray-2);
    border-radius    : 10px;
}

.opinion-card__button {
    width: 183px;
}
