include ../buttons/baseBtn

.opinion-card
    .opinion-card__content.card-content
        h3 We want to know what you think about all this
        .card-content__text 
            | Technological competition startups. Provides 
            br
            |IT industry promising technologies.
        +baseBtn({ 
            text      : 'Learn opinion',
            bgColor   : 'var(--text-blue)',
            color     : 'var(--text-white)',
            width     : 183
        })
    img.opinion-card__img(srcset="./assets/images/books_personage.png 1x, ./assets/images/books_personage@2x.png 2x")