.footer {
  flex-direction: column;
}

.footer__socials {
  display: flex;
  flex-direction: column;
}

.footer__socials__icons {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-weight: 600;

  span:last-of-type {
    color: var(--text-gray-2);
  }
}

.footer__action-btn {
  width: 208px;
  height: 50px;
  line-height: 50px;
}
