.footer {
    flex-direction: column;
}

.footer__socials {
    display        : flex;
    flex-direction : column;
}

.footer__socials__icons {
    display     : flex;
    align-items : center;
}

.footer__copyright {
    font-weight: 600;
}

.footer__copyright span:last-of-type {
    color: var(--text-gray-2);
}
