.weAreReadWidget {
	height           : 167px;
	border-radius    : 10px;
	background-color : var(--background-color-gray-2);
	padding          : 17px;
	display          : flex;
	flex-direction   : column;
	justify-content  : space-between;
	color            : var(--black-color);
	text-decoration  : none;
}

.weAreReadWidget:hover .weAreReadWidget__text {
	text-decoration: underline;
}

.weAreReadWidget + .weAreReadWidget {
	margin-top: 30px;
}

.weAreReadWidget__text {
	font-weight : 600;
	line-height : 26px;
}

.weAreReadWidget__commentsCount {
	font-size: 14px;
}
