.we-are-read {
  margin-bottom: 56px;
}

.we-are-read__item {
  height: 168px;
  border-radius: 10px;
  background-color: var(--background-color-gray-2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black-color);
  text-decoration: none;

  &:hover .we-are-read__item__text {
    text-decoration: underline;
  }

  & + & {
    margin-top: 24px;
  }
}

.we-are-read__item__text {
  font-weight: 600;
  line-height: 26px;
}

.we-are-read__comments {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
