include ../svg-icon/svgIcon

mixin weAreReadItem(text)
	a.we-are-read__item(href="javascript:void(0)")
		.we-are-read__item__text= text
		.we-are-read__comments
			.comment__icon
				+svgIcon('messages')
			span 345

.we-are-read
	h3 We are read

	.we-are-read__content
		+weAreReadItem('Technological competition startups. Provides IT industry promising technologies.')
		+weAreReadItem('Cloud provider. It supports us in all endeavors, but often draws us into adventures.')
		+weAreReadItem('Optimization for newbies: html tags and attributes in SEO')
