.qc-menu#qcThemesMenu(style="display: none")
  .qc-themes-menu
    .upload-cover__header.upload-cover-header
      .upload-cover-header__title Veröffentlicht in 3 themen
    .upload-cover__content
      .qc-themes-menu__item
        span.qc-themes-menu__item__content Real estate
        a.qc-themes-menu__item__link(href="javascript:void(0)") Zu thema gehen
      .qc-themes-menu__item
        span.qc-themes-menu__item__content Career
        a.qc-themes-menu__item__link(href="javascript:void(0)") Zu thema gehen
      .qc-themes-menu__item
        span.qc-themes-menu__item__content Sport
        a.qc-themes-menu__item__link(href="javascript:void(0)") Zu thema gehen
  button.qc-menu__button(data-target="closeBottomSheet") Close
