.swiper-card {
	min-width : 248px;
	padding   : 28px 24px;
}

.swiper-card--with-image {
	height: 378px;
}

.swiper-card__content {
	line-height : 26px;
	margin      : 13px 0 24px;
}

.swiper-card__button {
	height      : 39px;
	line-height : 39px;
}
