.nav-menu-wrapper {
    position         : fixed;
    left             : 10px;
    right            : 10px;
    bottom           : 24px;
    display          : flex;
    justify-content  : center;
    text-align       : center;
    padding          : 10px 12px;
    border-radius    : 16px;
    box-shadow       : 0 3px 20px rgba(62, 62, 62, .3);
    background-color : var(--background-color-white);
    z-index          : 999;
    transition       : bottom .3s ease-out;
    will-change      : bottom;
}

.nav-menu {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    font-size       : 10px;
    width           : 100%;
    min-width       : 300px;
}

.nav-item {
    flex            : 1 1 20%;
    display         : block;
    text-decoration : none;
    color           : var(--text-black);
    transition      : .1s ease-out;
    user-select     : none;
}

.nav-item:active {
    transform: scale(.96);
}

.nav-item .nav-item__icon {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-bottom   : 4px;
}

.nav-item .nav-item__icon svg {
    width  : 18px;
    height : 24px;
}
