include ../../svg-icon/svgIcon

mixin navItem({ icon, title, materialIcon = false, highlighted = false, target })
    a.nav-menu__item.nav-item(
        class       = highlighted ? 'nav-item--highlighted' : '',
        data-target = target
    )
        .nav-item__icon
            if materialIcon
                span.material-icons-round= icon
            else
                +svgIcon(icon)
        .nav-item__title= title

.nav-menu-wrapper#bottomNav
    .nav-menu
        +navItem({ icon: 'newspaper', title: 'Feed' })
        +navItem({ icon: 'edit', title: 'Antworten' })
        +navItem({ icon: 'help', title: 'Beitrag', materialIcon: true, highlighted: true, target: 'qModal' })
        +navItem({ icon: 'user', title: 'Profil' })
        +navItem({ icon: 'menu', title: 'Menu', materialIcon: true, target: 'bottomMenu' })
