html, body { 
    font-size: 16px;
}

.container-1024 {
    display         : flex;
	justify-content : center;
	max-width       : 1264px;
	margin          : 0 auto;
}

.page--registration {
    background: 
        url('../assets/images/registration-bg.png') top left / 100% 894px repeat-x, 
        linear-gradient(
            to bottom, 
            var(--background-color-orange) 894px, 
            var(--background-color-lightblue) 894px 100%
        ); 
}

@media (max-width: 1279px) {
	.container-1024 {
		width: 1024px;
	}
}
