@media (max-width: 600px) {
    html, body {
        font-size: 14px;
    }

    .page--registration {
        --delimiter-point: 594px;
    }

    .page--login {
        --delimiter-point: 516px;
    }

    .spaceVertical--100 {
        height: 36px;
    }
}
