@media (max-width: 600px) {
    html, body {
        font-size: 14px;
    }

    .page-title {
        display: none;
    }

    .page-title--mobile {
        display    : block;
        padding    : 0 12px;
        margin-top : 36px;
    }

    .page--registration {
        --delimiter-point: 594px;
    }

    .page--login {
        --delimiter-point: 516px;
    }

    .space-vertical--100,
    .space-vertical--80 {
        display: none;
    }

    .similar-answers-title {
        padding       : 0 12px;
        margin-top    : 24px;
        margin-bottom : 8px;
    }

    .main--with-bottom-border {
        border-bottom: 0;
    }
}
