:root {
  --red-color: #e45b60;
  --orange-color: #f7ae3b;
  --green-color: #8cc761;
  --purple-color: #a461c7;
  --blue-color: #54a1c9;
  --blue-color-2: #3e8fad;
  --white-color: #ffffff;
  --black-color: #282a2d;
  --black-color-2: #333333;

  --background-color-gray: #f1f4f6;
  --background-color-gray-2: #f2f7f7;
  --background-color-gray-3: #eaeaea;
  --background-color-lightblue: #f4f7f9;

  --border-color-lightblue: #f3f7f8;
  --border-color-lightgray: #e9ecef;

  --text-gray: #d1d8de;
  --text-gray-2: #848484;
  --text-gray-3: #707070;

  --font-open-sans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
