mixin profileTab({ name = '', amount, isActive = false })
    li.profile-tabs__tab(class = isActive ? 'profile-tabs__tab--active' : '')
        a.profile-tabs__link(href="javascript:void(0)")= name
            span.profile-tabs__link__amount= amount

section.profile-tabs-wrapper
    ul.profile-tabs
        +profileTab({ name: 'Die Fragen', amount: 5, isActive: true })
        +profileTab({ name: 'Die Antworten', amount: 15 })
        +profileTab({ name: 'Abonnenten', amount: 24 })
