include ../../subscriber/subscriber

.profile-subscriptions-tab#profileSubscriptionsTab(style="display: none")
	+subscriber({ name: 'Philip Djones', avatar: 'question-0-avatar', isSubscribed: true })
	+subscriber({ name: 'Devid Brown', avatar: 'question-3-avatar' })
	+subscriber({ name: 'Jhon Dow', avatar: 'question-vote-avatar' })
	+subscriber({ name: 'Sergey Brin', avatar: 'question-2-avatar' })
	+subscriber({ name: 'Denzel Nikolson', avatar: 'question-1-avatar' })
	+subscriber({ name: 'Philip Djones', avatar: 'question-0-avatar', isSubscribed: true })
	+subscriber({ name: 'Devid Brown', avatar: 'question-3-avatar' })
	+subscriber({ name: 'Jhon Dow', avatar: 'question-vote-avatar' })
	+subscriber({ name: 'Sergey Brin', avatar: 'question-2-avatar' })
	+subscriber({ name: 'Denzel Nikolson', avatar: 'question-1-avatar' })
