.question-card-button {
    position         : relative;
    display          : flex;
    align-items      : center;
    font-family      : var(--font-open-sans);
    font-weight      : 600;
    border           : 0;
    background-color : transparent;
}

.question-card-button .question-card-button__icon {
    color: var(--text-gray);
}
