.question-card {
    --card-horizontal-padding: 36px;
    
    border        : 1px solid var(--border-color-lightgray);
    border-radius : 10px;
}

.question-card__overlapping-link {
    display  : block;
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
}

.question-card + .question-card {
    margin-top: 28px;
}

.question-card__header {
    position : relative;
    color    : var(--text-white);
}

.question-header__image-wrapper,
.question-image__overlay {
    height: 100%;
}

.question-header__image-wrapper {
    z-index: -1;
}

.question-image__background {
    background-size     : cover;
    background-position : 50%;
    opacity             : .6;
}

.question-image__overlay,
.question-image__background {
    border-radius: 10px 10px 0 0;
}

.question-header__link,
.question-image__background,
.question-header__image-wrapper {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

.question-header__info {
    height  : 100%;
    padding : 32px var(--card-horizontal-padding) 22px;
}

.question-info__user {
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    font-size       : 14px;
    font-weight     : 500;
    font-family     : var(--font-montserrat);
    line-height     : 47px;
    margin-bottom   : 16px;
    margin-right    : 22px;
}

.question-user__name,
.question-user__date {
    margin-left: 11px;
}

.question-user__name {
    color           : var(--text-white);
    text-decoration : none;
}

.question-user__label {
    position    : relative;
    display     : flex;
    align-items : center;
    margin-left : 16px;
}

.question-user__label__icon {
    margin-right: 7px;
}

.question-user__link-wrapper {
    position    : relative;
    display     : flex;
    align-items : center;
}

.question-info__title {
    font-size     : 18px;
    font-weight   : 700;
    font-family   : var(--font-montserrat);
    line-height   : 26px;
    margin-bottom : 18px;
    margin-right  : 22px;
}

.question-info__subtitle {
    font-size     : 18px;
    line-height   : 26px;
    font-family   : var(--font-montserrat);
    margin-top    : -10px;
    margin-bottom : 14px;
}

.question-info__chips {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;
}

.question-info__chip {
    position         : relative;
    height           : 32px;
    padding          : 0 13px;
    font-size        : 14px;
    font-family      : var(--font-open-sans);
    line-height      : 32px;
    border-radius    : 40px;
    background-color : rgba(241, 244, 246, .22);
    margin-bottom    : 9px;
    margin-right     : 9px;
    cursor           : pointer;
}

.question-header__dropdown-icon {
    top   : 16px;
    right : 12px;
}

.question-header__dropdown-icon .material-icons-round {
    font-size : 36px;
    color     : var(--text-white);
}

.question-header__dropdown-icon.question-header__dropdown-icon--dark .material-icons-round {
    color: var(--text-gray);
}

.question-header__dropdown-icon:not(.question-header__dropdown-icon--dark):before {
    background-color: hsla(0, 0%, 100%, .2);
}

.question-reviews__horizontal-dropdown {
    position: relative;
}

.question-reviews__horizontal-dropdown .material-icons-round {
    font-size : 36px;
    color     : var(--text-gray);
}

.question-card__reactions-wrapper {
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 16px var(--card-horizontal-padding);
}

.question-card__reactions  {
    display     : flex;
    align-items : center;
}

.question-card__visibility-btn.question-card-button {
    padding: 4px 0;
}

.question-card__visibility-btn.question-card-button .material-icons {
    font-size: 16px;
}

.question-card__visibility-btn.question-card-button:before {
    left  : -4px;
    right : -4px;
}

.question-card__content {
    position : relative;
    color    : var(--text-black);
    padding  : 16px var(--card-horizontal-padding) 36px;
}

.question-card__content--vote {
    padding-top: 0;
}

.question-card__content:not(.question-card__content--vote):before {
    display    : block;
    position   : absolute;
    content    : "";
    top        : 0;
    right      : var(--card-horizontal-padding);
    left       : var(--card-horizontal-padding);
    height     : 1px;
    background : var(--border-color-lightgray);
}

.question-card__content:not(.question-card__content--vote) div {
    font-size   : 16px;
    font-family : var(--font-open-sans);
    line-height : 26px;
}

.question-card__content__reviews.question-reviews {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    margin          : 32px 0;
}

.question-reviews__likes {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;
}

.question-card__read-all-answers-btn {
    height           : 55px;
    width            : 100%;
    background-color : var(--background-color-gray-2);
    border           : 0;
    border-radius    : 28px;
    line-height      : 55px;
    font-size        : 14px;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
    cursor           : pointer;
}

.question-card__content__read-more-btn {
    font-weight : 600;
    margin-left : 4px;
    cursor      : pointer;
}

.question-card__content__full-desc {
    display: none;
}

.question-card__content__full-desc p:first-of-type {
    margin-top: 0;
}

.question-card--default .question-card__header {
    color: var(--text-black-2);
}

.question-card--default .question-user__name {
    color: var(--text-blue);
}

.question-card--default .question-info__chip {
    background-color: var(--background-color-gray);
}

.question-card--default .question-card__reactions-wrapper:before {
    display    : block;
    position   : absolute;
    content    : "";
    top        : 0;
    right      : var(--card-horizontal-padding);
    left       : var(--card-horizontal-padding);
    height     : 1px;
    background : var(--border-color-lightgray);
}
