include ../svg-icon/svgIcon

#qTopDropdown.question-card__dropdown.question-dropdown(style="display: none")
	.question-dropdown-wrapper
		a.question-dropdown__item
			.question-dropdown__item__icon
				+svgIcon("share")
			span Teilen
		a.question-dropdown__item
			.question-dropdown__item__icon
				+svgIcon("paintbrush")
			span Bearbeiten
		a#notifyTogglerOption.question-dropdown__item.question-dropdown__item--with-toggle
			.question-dropdown__item__toggle-wrapper
				div
					.question-dropdown__item__icon
						+svgIcon("bell")
					span Mitteilungen
				label.question-dropdown__item__toggle.item-toggle
					input(type='checkbox')
					span.item-toggle__slider
			.question-dropdown__item__hint
				| (Sie erhalten Mitteilungen &uuml;ber neue Antworten und Kommentare)
