.question-card__overlapping-link {
    display  : block;
    position : absolute;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
}

.question-card__header {
    position : relative;
    color    : var(--text-white);
}

.question-header__image-wrapper,
.question-image__overlay {
    height: 100%;
}

.question-header__image-wrapper {
    z-index: -1;
}

.question-image__background {
    background-size     : cover;
    background-position : 50%;
    opacity             : .6;
}

.question-image__overlay,
.question-image__background {
    border-radius: 10px 10px 0 0;
}

.question-header__link,
.question-image__background,
.question-header__image-wrapper {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
}

.question-header__info {
    height: 100%;
}

.question-info__user {
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    font-weight     : 500;
    font-family     : var(--font-montserrat);
}

.question-user__name {
    color           : var(--text-white);
    text-decoration : none;
}

.question-user__name,
.question-user__date {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

.question-user__label {
    position    : relative;
    display     : flex;
    align-items : center;
}

.question-user__link-wrapper {
    position    : relative;
    display     : flex;
    align-items : center;
    overflow    : hidden;
    white-space : nowrap;
}

.question-card:not(.question-card--default) .question-info__title {
    color: var(--text-white);
}

.question-info__subtitle {
    font-family: var(--font-montserrat);
}

.question-header__dropdown-icon {
    top: 16px;
}

.question-header__dropdown-icon .material-icons-round {
    color: var(--text-white);
}

.question-header__dropdown-icon.question-header__dropdown-icon--dark .material-icons-round {
    color: var(--text-gray);
}

.question-header__dropdown-icon:not(.question-header__dropdown-icon--dark):before {
    background-color: hsla(0, 0%, 100%, .2);
}

.question-reviews__horizontal-dropdown.base-icon-btn {
    position: relative;
}

.question-reviews__horizontal-dropdown .material-icons-round {
    color: var(--text-gray);
}

.question-card__reactions-wrapper {
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border-width    : 0 1px;
    border-color    : var(--border-color-lightgray);
    border-style    : solid;
}

.question-card__reactions  {
    display     : flex;
    align-items : center;
}

.question-card__content {
    position      : relative;
    color         : var(--text-black);
    border-width  : 0 1px 1px 1px;
    border-style  : solid;
    border-color  : var(--border-color-lightgray);
    border-radius : 0 0 10px 10px;
}

.question-card__content:not(.question-card__content--vote):before {
    display    : block;
    position   : absolute;
    content    : "";
    top        : 0;
    right      : var(--card-horizontal-padding);
    left       : var(--card-horizontal-padding);
    height     : 1px;
    background : var(--border-color-lightgray);
}

.question-card__content__reviews.question-reviews {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.question-reviews__likes {
    display     : flex;
    align-items : center;
    flex-wrap   : wrap;
}

.question-card__read-all-answers-btn {
    width            : 100%;
    background-color : var(--background-color-gray-2);
    border           : 0;
    font-weight      : 700;
    font-family      : var(--font-montserrat);
}

.question-card__content__read-more-btn {
    font-weight : 600;
    margin-left : 4px;
}

.question-card__content__full-desc {
    display: none;
}

.question-card__content__full-desc p:first-of-type {
    margin-top: 0;
}

.question-card--default .question-card__header {
    color         : var(--text-black-2);
    border-radius : 10px 10px 0 0;
    border-width  : 1px 1px 0;
    border-style  : solid;
    border-color  : var(--border-color-lightgray);
}

.question-card--default .question-user__name {
    color: var(--text-blue);
}

.question-card--default .question-card__reactions-wrapper:before {
    display    : block;
    position   : absolute;
    content    : "";
    top        : 0;
    right      : var(--card-horizontal-padding);
    left       : var(--card-horizontal-padding);
    height     : 1px;
    background : var(--border-color-lightgray);
}
