@media (max-width: 600px) {
    .question-dropdown {
        position      : static;
        width         : 100%;
        margin-top    : 8px;
        margin-bottom : 24px;
        padding       : 0 4px;
        border-radius : 0;
        box-shadow    : none;
    }

    .question-dropdown-wrapper,
    .question-dropdown--bottom .question-dropdown-wrapper {
        padding-top: 0;
    }

    .question-dropdown__item {
        display         : flex;
        align-items     : center;
        text-decoration : none;
        color           : var(--black-color-2);
        line-height     : 36px;
        padding         : 0 2px;

        &:hover {
            background-color: transparent;
        }

        & + & {
            margin-top: 4px;
        }
    }

    .question-dropdown__item__icon svg {
        width  : 16px;
        height : 16px;
    }

    .question-dropdown__item__hint {
        line-height : 18px;
        margin      : 1px 48px 1px 30px;
    }

    .qc-menu__button {
        width            : 100%;
        height           : 36px;
        border-radius    : 25px;
        background-color : var(--background-color-gray);
        border           : 0;
        line-height      : 36px;
        text-align       : center;
        font-weight      : 600;
        font-family      : var(--font-montserrat);
        margin-bottom    : 16px;
        transition       : none;
    }
}
