.question-dropdown {
    display     : none;
    position    : absolute;
    top         : 0;
    left        : 0;
    width       : 240px;
    z-index     : 1001;
    will-change : transform;
}

.question-dropdown--bottom {
    width: 133px;
}

.question-dropdown-wrapper {
    padding: 14px 0;
}

.question-dropdown--bottom .question-dropdown-wrapper {
    padding: 12px 0;
}

.question-dropdown__item {
    display         : flex;
    align-items     : center;
    font-weight     : 600;
    text-decoration : none;
    color           : var(--black-color-2);
    padding         : 0 24px 0 18px;
    line-height     : 45px;
    cursor          : pointer;
}

.question-dropdown__item:hover {
    background-color: var(--background-color-gray);
}

.question-dropdown__item--with-toggle {
    flex-direction : column;
    align-items    : flex-start;
    user-select    : none;
}

.question-dropdown__item__icon {
    display         : flex;
    justify-content : center;
    margin-right    : 13px;
}

.question-dropdown__item__icon .bell {
    display: none;
}

.question-dropdown__item__toggle-wrapper {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    width           : 100%;
}

.question-dropdown__item__toggle-wrapper div {
    display     : flex;
    align-items : center;
}

.question-dropdown__item__hint {
    font-size   : 12px;
    font-weight : 400;
    line-height : 22px;
    margin      : -6px 16px 8px 36px;
}

.item-toggle {
    position  : relative;
    width     : 40px;
    min-width : 40px;
    height    : 24px;
}
  
.item-toggle input {
    opacity : 0;
    width   : 0;
    height  : 0;
}
  
.item-toggle__slider {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    background-color : var(--text-gray);
    border-radius    : 12px;
    transition       : .3s;
    cursor           : pointer;
}
  
.item-toggle__slider:before {
    position         : absolute;
    bottom           : 3px;
    content          : "";
    height           : 18px;
    width            : 18px;
    left             : 3px;
    background-color : var(--white-color );
    transition       : .3s;
    border-radius    : 50%;
}
  
.item-toggle input:checked + .item-toggle__slider {
    background-color: var(--black-color);
}

.item-toggle input:checked + .item-toggle__slider:before {
    transform: translateX(16px);
}
