.cookies-warning {
	display         : flex;
	justify-content : center;
	align-items     : center;
}

.cookies-warning__details-link {
	color           : var(--text-black);
	text-decoration : underline;
}

.cookies-warning__button {
    width       : 64px;
    height      : 28px;
    line-height : 28px;
}
