.cookies-warning {
	display         : flex;
	justify-content : center;
	align-items     : center;
}

.cookies-warning__details-link {
	color           : var(--text-black);
	text-decoration : underline;
}
