include ../buttons/base-button/baseButton

.cookies-warning.container-1024
	span.cookies-warning__content We use cookies to ensure you get the best experience on our site.
		a.cookies-warning__details-link(href="javascript:void(0)") More details
	+baseButton({ text: 'Got it' })(class="cookies-warning__button")
