@media (max-width: 600px) {
    .cookies-warning {
        padding   : 8px;
        height    : 56px;
        font-size : 12px;
    }

    .cookies-warning__content {
        text-align: center;
    }

    .cookies-warning__details-link {
        white-space: nowrap;
    }

    .cookies-warning__button {
        min-width   : 64px;
        margin-left : 8px;
    }
}
