.symbols-counter {
    width       : 28px;
    height      : 28px;
    line-height : 28px;
    font-size   : 2em;
}

.symbols-counter__label {
    font-size: 12px;
}

.symbols-counter__label .material-icons-round {
    font-size: 16px;
}

.symbols-counter__circle__half {
    border: .05em solid currentColor;
}
