.symbols-counter-container {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    position        : relative;
    width           : 40px;
    height          : 40px;
    min-width       : 40px;
    min-height      : 40px;
    color           : var(--text-gray-2);
    margin          : auto 14px;
    /* opacity: 0; */
    transition : .2s ease-out;
}

.symbols-counter {
    fill     : none;
    position : absolute;
    top      : 0;
    left     : 0;
}

.symbols-counter__bg-circle {
    stroke         : currentColor;
    stroke-opacity : .07;
    transition     : .1s linear;
}

.symbols-counter__fill-circle {
    stroke            : currentColor;
    stroke-dashoffset : 94.24777960769379;
    stroke-dasharray  : 94.24777960769379;
    transform         : rotate(-90deg);
    transform-origin  : center;
    transition        : .1s linear;
}

.symbols-counter__label {
    font-size   : 14px;
    line-height : 1;
    font-weight : 600;
}

.symbols-counter__label .material-icons-round {
    display     : none;
    line-height : inherit;
    color       : currentColor;
}

.symbols-counter-container--error {
    color: var(--red-color);
}

.symbols-counter-container--success {
    color: var(--green-color);
}

  /* .counter__check-icon {
    display: none;
    fill: #5D9022;
  } */

/* .symbols-counter {
    position    : relative;
    margin      : auto 12px;
    color       : var(--text-gray-2);
    width       : 40px;
    height      : 40px;
    line-height : 40px;
    font-size   : 3em;
}

.symbols-counter__label {
    line-height : inherit;
    text-align  : center;
    font-size   : 16px;
    font-weight : 600;
    height      : 100%;
}



.symbols-counter__circle {
    height   : 100%;
    width    : 100%;
    clip     : rect(0, 1em, 1em, .5em);
    left     : 0;
    position : absolute;
    top      : 0;
}

.symbols-counter__circle__half {
    height        : 100%;
    width         : 100%;
    border-radius : 50%;
    clip          : rect(0, .5em, 1em, 0);
    left          : 0;
    position      : absolute;
    top           : 0;
    border        : .075em solid currentColor;
}

.symbols-counter__circle__half--left {
    transform: rotate(60deg);
}

.symbols-counter--error {
    color: var(--red-color);
}

.symbols-counter--error .symbols-counter__circle {
    clip: rect(auto, auto, auto, auto);
}

.symbols-counter--error .symbols-counter__circle__half--left {
    transform: rotate(180deg);
}

.symbols-counter--success {
    color: var(--green-color);
} */
