.symbols-counter {
    position    : relative;
    width       : 40px;
    height      : 40px;
    line-height : 40px;
    margin      : auto 12px;
    font-size   : 3em;
    color       : var(--text-gray-2);
}

.symbols-counter__label {
    line-height : inherit;
    text-align  : center;
    font-family : var(--font-open-sans);
    font-size   : 16px;
    font-weight : 600;
    height      : 100%;
}

.symbols-counter__label .material-icons-round {
    line-height : inherit;
    color       : currentColor;
}

.symbols-counter__circle {
    height   : 100%;
    width    : 100%;
    clip     : rect(0, 1em, 1em, .5em);
    left     : 0;
    position : absolute;
    top      : 0;
}

.symbols-counter__circle__half {
    height        : 100%;
    width         : 100%;
    border        : .075em solid currentColor;
    border-radius : 50%;
    clip          : rect(0, .5em, 1em, 0);
    left          : 0;
    position      : absolute;
    top           : 0;
}

.symbols-counter__circle__half--left {
    transform: rotate(60deg);
}

.symbols-counter--error {
    color: var(--red-color);
}

.symbols-counter--error .symbols-counter__circle {
    clip: rect(auto, auto, auto, auto);
}

.symbols-counter--error .symbols-counter__circle__half--left {
    transform: rotate(180deg);
}

.symbols-counter--success {
    color: var(--green-color);
}
